Repository freeipa/ansible-freeipa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-doc-test, shellcheck

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.29.0
  hooks:
  - id: yamllint
    files: \.(yaml|yml)$
- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.0.0
  hooks:
  - id: pydocstyle
- repo: https://github.com/pycqa/pylint
  rev: v2.17.0
  hooks:
  - id: pylint
    args:
    - --disable=import-error
    files: \.py$
- repo: local
  hooks:
  - id: ansible-doc-test
    name: Verify Ansible roles and module documentation.
    language: python
    entry: utils/ansible-doc-test
    # args: ['-v', 'roles', 'plugins']
    files: ^.*.py$
- repo: local
  hooks:
  - id: shellcheck
    name: ShellCheck
    language: system
    entry: shellcheck
    files: \.sh$

README-service.md: Add choice idp to auth_ind
  README-service.md
Due: none

README-user.md: Add choices pkinit, hardened and idp to user_auth_type
  README-user.md
Due: none

ipauser: Support for External IdP attributes.
  README-user.md
  playbooks/user/add-user-external-idp.yml
  plugins/modules/ipauser.py
  tests/user/test_user_idp_attrs.yml
Due: ansible-doc-test

ansible_freeipa_module: Use to_text for ipa_command_invalid_param_choices
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

ansible_freeipa_module: Fix ipa_command_invalid_param_choices
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

ci: Increase verbosity for Ansible playbook runs
  tests/azure/templates/galaxy_pytest_script.yml
  tests/azure/templates/galaxy_script.yml
  tests/azure/templates/playbook_fast.yml
  tests/azure/templates/playbook_tests.yml
  tests/azure/templates/pytest_tests.yml
Due: none

Updated supported distros
  roles/ipabackup/README.md
  roles/ipaclient/README.md
  roles/ipareplica/README.md
  roles/ipaserver/README.md
  roles/ipasmartcard_client/README.md
  roles/ipasmartcard_server/README.md
Due: none

ipacert: Fix revocation example playbook on README
  README-cert.md
Due: none

ansible-lint: Use the same command line as galaxy-importer
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  requirements-dev.txt
  tests/sanity/galaxy-importer.cfg
  utils/lint_check.sh
Due: shellcheck

New idview management module.
  README-idview.md
  README.md
  playbooks/idview/idview-absent.yml
  playbooks/idview/idview-host-applied.yml
  playbooks/idview/idview-host-unapplied.yml
  playbooks/idview/idview-present.yml
  plugins/modules/ipaidview.py
  tests/idview/test_idview.yml
  tests/idview/test_idview_client_context.yml
Due: ansible-doc-test

README-*: Bump minimum supported Ansible version to 2.13
  README-automember.md
  README-automountkey.md
  README-automountlocation.md
  README-automountmap.md
  README-cert.md
  README-config.md
  README-delegation.md
  README-dnsconfig.md
  README-dnsforwardzone.md
  README-dnsrecord.md
  README-dnszone.md
  README-group.md
  README-hbacrule.md
  README-hbacsvc.md
  README-hbacsvcgroup.md
  README-host.md
  README-hostgroup.md
  README-idrange.md
  README-location.md
  README-netgroup.md
  README-permission.md
  README-privilege.md
  README-pwpolicy.md
  README-role.md
  README-selfservice.md
  README-server.md
  README-service.md
  README-servicedelegationrule.md
  README-servicedelegationtarget.md
  README-sudocmd.md
  README-sudocmdgroup.md
  README-sudorule.md
  README-topology.md
  README-trust.md
  README-user.md
  README-vault.md
  README.md
  utils/ansible-freeipa.spec.in
  utils/templates/README-module+member.md.in
  utils/templates/README-module.md.in
Due: none

roles: Bump minimum Ansible version to 2.13
  roles/ipabackup/README.md
  roles/ipabackup/meta/main.yml
  roles/ipaclient/README.md
  roles/ipaclient/meta/main.yml
  roles/ipareplica/README.md
  roles/ipareplica/meta/main.yml
  roles/ipaserver/README.md
  roles/ipaserver/meta/main.yml
  roles/ipasmartcard_client/README.md
  roles/ipasmartcard_client/meta/main.yml
  roles/ipasmartcard_server/README.md
  roles/ipasmartcard_server/meta/main.yml
Due: none

ansible-freeipa: Bump minimum supported Ansible version to 2.13
  meta/runtime.yml
Due: none

spec file: Updated list of modules
  utils/ansible-freeipa.spec.in
Due: none

pylint: Unnecessary parens after '=' keyword
  plugins/modules/ipaconfig.py
  plugins/modules/ipadnsforwardzone.py
  plugins/modules/ipadnsrecord.py
  plugins/modules/ipaservice.py
Due: ansible-doc-test

pylint: Fix warning 'unnecessary "else" after "return"'
  plugins/modules/ipaautomountkey.py
  plugins/modules/ipaautomountlocation.py
  plugins/modules/ipaautomountmap.py
  plugins/modules/ipaconfig.py
  plugins/modules/ipadelegation.py
  plugins/modules/ipaidrange.py
  plugins/modules/ipaidview.py
  plugins/modules/ipalocation.py
  plugins/modules/ipapermission.py
  plugins/modules/ipaprivilege.py
  plugins/modules/iparole.py
  plugins/modules/ipaselfservice.py
  plugins/modules/ipaserver.py
  plugins/modules/ipaservicedelegationrule.py
  plugins/modules/ipaservicedelegationtarget.py
  plugins/modules/ipasudocmdgroup.py
  utils/get_test_modules.py
  utils/templates/ipamodule+member.py.in
  utils/templates/ipamodule.py.in
Due: ansible-doc-test

development: Bump versions of development checks
  .pre-commit-config.yaml
  requirements-dev.txt
Due: none

pylint: Fix unused-argument
  tests/pytests/conftest.py
Due: ansible-doc-test

Change 'Exception' to 'RuntimeError' when FreeIPA version is too old
  roles/ipaclient/module_utils/ansible_ipa_client.py
  roles/ipareplica/module_utils/ansible_ipa_replica.py
  roles/ipaserver/module_utils/ansible_ipa_server.py
Due: ansible-doc-test

pylint: Fix redefined-builtin
  utils/facts.py
Due: ansible-doc-test

pylint: Disable broad exception warnings
  plugins/modules/ipavault.py
Due: ansible-doc-test

ci: Bump pylint version
  .github/workflows/lint.yml
Due: none

pylint: Disable warning when using non-literal dict
  setup.cfg
Due: none

ipareplica: Refactor CA file handling in replica deployment
  roles/ipareplica/library/ipareplica_install_ca_certs.py
  roles/ipareplica/library/ipareplica_prepare.py
  roles/ipareplica/module_utils/ansible_ipa_replica.py
Due: ansible-doc-test

utils/templates/test_module_client_context.yml.in: Fix FQDN issue
  utils/templates/test_module_client_context.yml.in
Due: none

utils/templates/ipamodule*.py.in: Fix superfluous type in argument spec
  utils/templates/ipamodule+member.py.in
  utils/templates/ipamodule.py.in
Due: none

Do not use "del os.environ" as the variable might not exist
  plugins/module_utils/ansible_freeipa_module.py
  roles/ipaclient/library/ipaclient_fix_ca.py
  roles/ipaclient/library/ipaclient_get_otp.py
  roles/ipaclient/library/ipaclient_join.py
  roles/ipareplica/library/ipareplica_prepare.py
  roles/ipaserver/library/ipaserver_get_connected_server.py
Due: ansible-doc-test

New idoverrideuser management module.
  README-idoverrideuser.md
  README.md
  playbooks/idoverrideuser/idoverrideuser-absent.yml
  playbooks/idoverrideuser/idoverrideuser-certificate-absent.yml
  playbooks/idoverrideuser/idoverrideuser-certificate-present.yml
  playbooks/idoverrideuser/idoverrideuser-present.yml
  plugins/modules/ipaidoverrideuser.py
  tests/idoverrideuser/test_idoverrideuser.yml
  tests/idoverrideuser/test_idoverrideuser_client_context.yml
  utils/ansible-freeipa.spec.in
Due: ansible-doc-test

README-*: Bump minimum Ansible supported version to 2.14
  README-automember.md
  README-automountkey.md
  README-automountlocation.md
  README-automountmap.md
  README-cert.md
  README-config.md
  README-delegation.md
  README-dnsconfig.md
  README-dnsforwardzone.md
  README-dnsrecord.md
  README-dnszone.md
  README-group.md
  README-hbacrule.md
  README-hbacsvc.md
  README-hbacsvcgroup.md
  README-host.md
  README-hostgroup.md
  README-idrange.md
  README-location.md
  README-netgroup.md
  README-permission.md
  README-privilege.md
  README-pwpolicy.md
  README-role.md
  README-selfservice.md
  README-server.md
  README-service.md
  README-servicedelegationrule.md
  README-servicedelegationtarget.md
  README-sudocmd.md
  README-sudocmdgroup.md
  README-sudorule.md
  README-topology.md
  README-trust.md
  README-vault.md
  README.md
Due: none

ipaclient: Bump minimum supported Ansible version to 2.14
  roles/ipaclient/README.md
  roles/ipaclient/meta/main.yml
Due: none

ipareplica: Bump minimum supported Ansible version to 2.14
  roles/ipareplica/README.md
  roles/ipareplica/meta/main.yml
Due: none

ipaserver: Bump minimum supported Ansible version to 2.14
  roles/ipaserver/README.md
  roles/ipaserver/meta/main.yml
Due: none

ipabackup: Bump minimum supported Ansible version to 2.14
  roles/ipabackup/README.md
  roles/ipabackup/meta/main.yml
Due: none

ipasmartcard_*: Bump minimum supported Ansible version to 2.14
  roles/ipasmartcard_client/README.md
  roles/ipasmartcard_client/meta/main.yml
  roles/ipasmartcard_server/README.md
  roles/ipasmartcard_server/meta/main.yml
Due: none

utils/templates: Bump minimum supported Ansible version to 2.14
  utils/templates/README-module+member.md.in
  utils/templates/README-module.md.in
Due: none

ansible-freeipa.spec: Bump minimum supported Ansible version to 2.14
  utils/ansible-freeipa.spec.in
Due: none

pytest: Add support for defining domain and realm.
  tests/README.md
  tests/utils.py
Due: ansible-doc-test

New idoverridegroup management module.
  README-idoverridegroup.md
  README.md
  playbooks/idoverridegroup/idoverridegroup-absent.yml
  playbooks/idoverridegroup/idoverridegroup-present.yml
  plugins/modules/ipaidoverridegroup.py
  tests/idoverridegroup/test_idoverridegroup.yml
  tests/idoverridegroup/test_idoverridegroup_client_context.yml
Due: ansible-doc-test

upstream ci: Run nightly tests against Ansible 2.9
  tests/azure/nightly.yml
Due: none

upstream ci: Run PR checks against the oldest supported ansible-core
  tests/azure/azure-pipelines.yml
Due: none
