Repository freeipa/ansible-freeipa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-doc-test, shellcheck

ansible-doc-test:
  name: Verify Ansible roles and module documentation.
  language: python
  entry: utils/ansible-doc-test

shellcheck:
  name: ShellCheck
  language: system
  entry: shellcheck

ipagroup: Handle ensuring groups with mixed types without IPA fix 6741
  plugins/modules/ipagroup.py
Due: ansible-doc-test

roles/ipaserver: Allow deployments with random serial numbers
  roles/ipaserver/README.md
  roles/ipaserver/defaults/main.yml
  roles/ipaserver/library/ipaserver_test.py
  roles/ipaserver/module_utils/ansible_ipa_server.py
  roles/ipaserver/tasks/install.yml
Due: ansible-doc-test

ipaserver: Do not enable random serial numbers by default
  roles/ipaserver/defaults/main.yml
Due: none

ipapwpolicy: simplified and faster attribute verification
  plugins/modules/ipapwpolicy.py
Due: ansible-doc-test

utils/new_module: Fix github_user test
  utils/new_module
Due: none

utils/new_module: Ensure correct number of parameters for new_module
  utils/new_module
Due: none

utils/templates/ipamodule.py.in: Add missing bracket
  utils/templates/ipamodule.py.in
Due: none

New utils/facts.py: Provide facts about the repo like role and module lists
  utils/facts.py
Due: ansible-doc-test

Make Git ignore temporary and output files.
  .gitignore
Due: none

utils/galaxyfy.py: Handle module_defaults, match roles and modules
  utils/galaxyfy.py
Due: ansible-doc-test

utils/build-galaxy-release.sh: Create module action group
  utils/build-galaxy-release.sh
  utils/create_action_group.py
Due: ansible-doc-test, shellcheck

utils/templates/{README*.md.in,test_module*.yml.in}: Use true and false
  utils/templates/README-module+member.md.in
  utils/templates/README-module.md.in
  utils/templates/test_module+member.yml.in
  utils/templates/test_module.yml.in
  utils/templates/test_module_client_context.yml.in
Due: none

utils/templates/test_module*.yml.in: Use generic module_defaults
  utils/templates/test_module+member.yml.in
  utils/templates/test_module.yml.in
Due: none

utils/templates/test_module*.yml.in: Better docs for become and gather_facts
  utils/templates/test_module+member.yml.in
  utils/templates/test_module.yml.in
  utils/templates/test_module_client_context.yml.in
Due: none

tests/azure: Install molecule-plguins to get docker driver
  tests/README.md
  tests/azure/templates/build_container.yml
  tests/azure/templates/galaxy_pytest_script.yml
  tests/azure/templates/galaxy_script.yml
  tests/azure/templates/playbook_fast.yml
  tests/azure/templates/playbook_tests.yml
  tests/azure/templates/pytest_tests.yml
Due: none

upstream ci: pin ansible-compat for molecule
  tests/azure/templates/build_container.yml
  tests/azure/templates/galaxy_pytest_script.yml
  tests/azure/templates/galaxy_script.yml
  tests/azure/templates/playbook_fast.yml
  tests/azure/templates/playbook_tests.yml
  tests/azure/templates/pytest_tests.yml
Due: none

try 1
  tests/azure/templates/pytest_tests.yml
Due: none

ipaserver: New parameter ipaserver_install_packages_only
  roles/ipaserver/README.md
  roles/ipaserver/defaults/main.yml
  roles/ipaserver/tasks/install.yml
Due: none

Pin requests to < 2.29 temporarily
  tests/azure/templates/build_container.yml
  tests/azure/templates/galaxy_pytest_script.yml
  tests/azure/templates/galaxy_script.yml
  tests/azure/templates/playbook_fast.yml
  tests/azure/templates/playbook_tests.yml
  tests/azure/templates/pytest_tests.yml
Due: none

Add -eu to all bash shebangs
  tests/external-signed-ca-with-automatic-copy/external-ca.sh
  tests/group/groups.sh
  tests/sanity/sanity.sh
  tests/user/users.sh
  tests/user/users_absent.sh
  utils/build-galaxy-release.sh
  utils/build-srpm.sh
  utils/gen_modules_docs.sh
  utils/lint_check.sh
  utils/new_module
Due: shellcheck

Use "#!/usr/bin/env python" for python shebang
  utils/ansible-doc-test
  utils/ansible-freeipa.spec.in
  utils/changelog
  utils/check_test_configuration.py
  utils/galaxyfy-README.py
  utils/galaxyfy-module-EXAMPLES.py
  utils/galaxyfy-playbook.py
  utils/galaxyfy.py
Due: ansible-doc-test

ansible-test: Do not use automatic field numbering specification
  plugins/modules/ipadnsrecord.py
  roles/ipaclient/library/ipaclient_api.py
  roles/ipaclient/library/ipaclient_join.py
  roles/ipaclient/library/ipaclient_test.py
  roles/ipareplica/library/ipareplica_enable_ipa.py
  roles/ipareplica/library/ipareplica_prepare.py
  roles/ipareplica/library/ipareplica_test.py
  roles/ipareplica/module_utils/ansible_ipa_replica.py
  roles/ipaserver/library/ipaserver_test.py
  tests/pytests/conftest.py
  tests/utils.py
Due: ansible-doc-test

Remove old or empty sanity ignore files
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
Due: none

ipaserver_test.py: Add missing default for random_serial_numbers
  roles/ipaserver/library/ipaserver_test.py
Due: ansible-doc-test

ansible_freeipa_module.py: Calm down ansible-test on print and sys.exit
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

Pin community.docker python version.
  tests/azure/templates/pytest_tests.yml
Due: none

tests/azure/templates/build_container.yml: Quote requests with version
  tests/azure/templates/build_container.yml
Due: none

pre-commit: Remove ansible-lint test due to "version A.B.C" issue
  .pre-commit-config.yaml
Due: none

pre-commit: Update versions to cope with recent ansible-lint changes
  .pre-commit-config.yaml
Due: none

Fix pylint version 2.17.0 warnings on roles.
  roles/ipaclient/module_utils/ansible_ipa_client.py
  roles/ipareplica/module_utils/ansible_ipa_replica.py
  roles/ipaserver/module_utils/ansible_ipa_server.py
  setup.cfg
Due: ansible-doc-test

pylint 2.17.0: Fix pytest code warnings
  tests/pytests/conftest.py
Due: ansible-doc-test

pylint 2.17.0: Disable broad-exception-raised
  plugins/modules/ipavault.py
Due: ansible-doc-test

pylint 2.17.0: Fix no-else-return for try expressions
  plugins/modules/ipaautomountkey.py
  plugins/modules/ipaautomountlocation.py
  plugins/modules/ipaautomountmap.py
  plugins/modules/ipaconfig.py
  plugins/modules/ipadelegation.py
  plugins/modules/ipaidrange.py
  plugins/modules/ipalocation.py
  plugins/modules/ipapermission.py
  plugins/modules/ipaprivilege.py
  plugins/modules/iparole.py
  plugins/modules/ipaselfservice.py
  plugins/modules/ipaserver.py
  plugins/modules/ipaservicedelegationrule.py
  plugins/modules/ipaservicedelegationtarget.py
  plugins/modules/ipasudocmdgroup.py
  utils/templates/ipamodule+member.py.in
  utils/templates/ipamodule.py.in
Due: ansible-doc-test

pylint 2.17.0: Disable superfluous-parens
  setup.cfg
Due: none

pylint: Ignore 'unknown option' on older pylint versions
  plugins/modules/ipavault.py
  roles/ipaclient/module_utils/ansible_ipa_client.py
  roles/ipareplica/module_utils/ansible_ipa_replica.py
  roles/ipaserver/module_utils/ansible_ipa_server.py
Due: ansible-doc-test

pylint 2.17.0: Fix code in 'utils' directory
  utils/get_test_modules.py
Due: ansible-doc-test

Update linter versions to match Ansible's 'devel' branch
  .github/workflows/lint.yml
  requirements-dev.txt
Due: none

Fix warnings on YAML files.
  tests/config/test_config_sid.yml
  tests/dnsrecord/test_dnsrecord.yml
  tests/group/test_group.yml
  tests/group/test_groups_absent.yml
  tests/group/test_groups_present.yml
  tests/group/test_groups_present_slice.yml
  tests/host/certificate/test_host_certificate.yml
  tests/host/certificate/test_hosts_certificate.yml
  tests/service/certificate/test_service_certificate.yml
  tests/service/test_service_disable.yml
  tests/user/certificate/test_user_certificate.yml
  tests/user/certificate/test_users_certificate.yml
  tests/user/certmapdata/test_user_certmapdata.yml
  tests/user/certmapdata/test_users_certmapdata.yml
  tests/user/test_users_invalid_cert.yml
Due: none

Upstream CI: Disable execution of pytest tests.
  tests/azure/templates/galaxy_tests.yml
  tests/azure/templates/group_tests.yml
Due: none

[RFE] Allow multiple services creation
  plugins/modules/ipaservice.py
  tests/service/create_services_json.yml
  tests/service/hosts.sh
  tests/service/services.sh
  tests/service/services_absent.sh
  tests/service/test_services_absent.yml
  tests/service/test_services_present.yml
  tests/service/test_services_present_slice.yml
  tests/service/test_services_without_skip_host_check.yml
Due: ansible-doc-test, shellcheck

Path conditions:
  ansible-doc-test: any of: ^.*.py$
  shellcheck: any of: \.sh$
