Repository freeipa/ansible-freeipa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-doc-test, shellcheck

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/ansible/ansible-lint.git
  rev: v6.22.0
  hooks:
  - id: ansible-lint
    always_run: false
    pass_filenames: true
    files: \.(yaml|yml)$
    exclude: /env[^/]*.(yaml|yml)$
    entry: |-
        env
        ANSIBLE_LIBRARY=./plugins/modules
        ANSIBLE_MODULE_UTILS=./plugins/module_utils
        ANSIBLE_DOC_FRAGMENT_PLUGINS=./plugins/doc_fragments
        ansible-lint
          --offline
          --profile production
          --exclude tests/integration/
          --exclude tests/unit/
          --parseable
          --nocolor
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.32.0
  hooks:
  - id: yamllint
    files: \.(yaml|yml)$
- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.0.0
  hooks:
  - id: pydocstyle
- repo: https://github.com/pycqa/pylint
  rev: v3.0.2
  hooks:
  - id: pylint
    args:
    - --disable=import-error
    files: \.py$
- repo: local
  hooks:
  - id: ansible-doc-test
    name: Verify Ansible roles and module documentation.
    language: python
    entry: utils/ansible-doc-test
    # args: ['-v', 'roles', 'plugins']
    files: ^.*.py$
- repo: local
  hooks:
  - id: shellcheck
    name: ShellCheck
    language: system
    entry: shellcheck
    files: \.sh$

ipareplica: Pass ipareplica_ip_addresses to client deployment part
  roles/ipareplica/README.md
  roles/ipareplica/library/ipareplica_create_ipa_conf.py
  roles/ipareplica/library/ipareplica_install_ca_certs.py
  roles/ipareplica/library/ipareplica_prepare.py
  roles/ipareplica/library/ipareplica_setup_ds.py
  roles/ipareplica/library/ipareplica_setup_kra.py
  roles/ipareplica/library/ipareplica_test.py
  roles/ipareplica/tasks/install.yml
Due: ansible-doc-test

ipareplica: Refactor CA file handling
  roles/ipareplica/library/ipareplica_prepare.py
  roles/ipareplica/library/ipareplica_test.py
  roles/ipareplica/module_utils/ansible_ipa_replica.py
  roles/ipareplica/tasks/install.yml
Due: ansible-doc-test

ipareplica_install_ca_certs: Do not return unchanged config attributes
  roles/ipareplica/library/ipareplica_install_ca_certs.py
  roles/ipareplica/tasks/install.yml
Due: ansible-doc-test

ipaserver: Set hsm attributes to None for now
  roles/ipaserver/library/ipaserver_prepare.py
  roles/ipaserver/library/ipaserver_setup_ca.py
  roles/ipaserver/library/ipaserver_setup_kra.py
Due: ansible-doc-test

ipareplica: After an HSM replica install ensure all certs are visible
  roles/ipareplica/library/ipareplica_enable_ipa.py
  roles/ipareplica/module_utils/ansible_ipa_replica.py
Due: ansible-doc-test

try to fix molecule
  molecule/fedora-latest/molecule.yml
Due: none

ansible_freeipa_module: New function convert_input_certificates
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

ipahost: Use new convert_input_certificates
  plugins/modules/ipahost.py
Due: ansible-doc-test

ipaservice: Use new convert_input_certificates
  plugins/modules/ipaservice.py
Due: ansible-doc-test

ipauser: Use new convert_input_certificates
  plugins/modules/ipauser.py
Due: ansible-doc-test

ipaidoverrideusere: Use new convert_input_certificates
  plugins/modules/ipaidoverrideuser.py
Due: ansible-doc-test

ansible_freeipa_module: Fix errors in batch mode
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

If an subtree is given convert it to an proper DN object.
  plugins/modules/ipapermission.py
Due: ansible-doc-test

permission: Fix idempotency issues for DN parameters
  plugins/modules/ipapermission.py
  tests/permission/test_permission.yml
Due: ansible-doc-test

Set collection ansible-core minimum version to 2.15
  meta/runtime.yml
Due: none

ipaserver: Bump minimum supported Ansible version to 2.15
  roles/ipaserver/README.md
  roles/ipaserver/meta/main.yml
Due: none

ipareplica: Bump minimum supported Ansible version to 2.15
  roles/ipareplica/README.md
  roles/ipareplica/meta/main.yml
Due: none

ansible-freeipa.spec: Bump minimum supported Ansible version to 2.15
  utils/ansible-freeipa.spec.in
Due: none

ipasmartcard_*: Bump minimum supported Ansible version to 2.15
  roles/ipasmartcard_client/README.md
  roles/ipasmartcard_client/meta/main.yml
  roles/ipasmartcard_server/README.md
  roles/ipasmartcard_server/meta/main.yml
Due: none

ipabackup: Bump minimum supported Ansible version to 2.15
  roles/ipabackup/README.md
  roles/ipabackup/meta/main.yml
Due: none

utils/templates: Bump minimum supported Ansible version to 2.15
  utils/templates/README-module+member.md.in
  utils/templates/README-module.md.in
Due: none

ipaclient: Bump minimum supported Ansible version to 2.15
  roles/ipaclient/README.md
  roles/ipaclient/meta/main.yml
Due: none

plugins/inventory/freeipa: Try imports for requests and urllib3
  plugins/inventory/freeipa.py
Due: ansible-doc-test

README-service.md: Add multi service handling
  README-service.md
Due: none

service: Add multi service examples to EXAMPLES
  plugins/modules/ipaservice.py
Due: ansible-doc-test

user: Fix idp_user_id aliases
  plugins/modules/ipauser.py
Due: ansible-doc-test

tests/sanity/sanity.sh: Install setuptools with pip
  tests/sanity/sanity.sh
Due: shellcheck

ipamodule_base_docs: Documentation: Fix default for delete_continue
  plugins/doc_fragments/ipamodule_base_docs.py
Due: ansible-doc-test

inventory/freeipa: Documentation: Fix version_added and drop plugin_type
  plugins/inventory/freeipa.py
Due: ansible-doc-test

cert: Fix short_description tag, add chain option, remove authors
  plugins/modules/ipacert.py
Due: ansible-doc-test

idoverrideuser: Docs: Fix sshpubkey element type, nomembers type
  plugins/modules/ipaidoverrideuser.py
Due: ansible-doc-test

idp: Drop no_log from docs section, allow to log token_uri and keys_uri
  plugins/modules/ipaidp.py
Due: ansible-doc-test

service: Docs: Fix required for name, add delete_continue to services
  plugins/modules/ipaservice.py
Due: ansible-doc-test

ipaclient_setup_nss: Documentation: Add default for selinux_works
  roles/ipaclient/library/ipaclient_setup_nss.py
Due: ansible-doc-test

ipareplica_prepare: Documentation: Fixed name of ipa_client_installed
  roles/ipareplica/library/ipareplica_prepare.py
Due: ansible-doc-test

tests/utils.py: Fix missing whitespace around arithmetic operator (E226)
  tests/utils.py
Due: ansible-doc-test

Role modules: Docs: Fix default value for string list parameters
  roles/ipareplica/library/ipareplica_create_ipa_conf.py
  roles/ipareplica/library/ipareplica_install_ca_certs.py
  roles/ipareplica/library/ipareplica_prepare.py
  roles/ipareplica/library/ipareplica_setup_ca.py
  roles/ipareplica/library/ipareplica_setup_dns.py
  roles/ipareplica/library/ipareplica_setup_ds.py
  roles/ipareplica/library/ipareplica_setup_kra.py
  roles/ipareplica/library/ipareplica_test.py
  roles/ipaserver/library/ipaserver_prepare.py
  roles/ipaserver/library/ipaserver_set_ds_password.py
  roles/ipaserver/library/ipaserver_setup_ca.py
  roles/ipaserver/library/ipaserver_setup_dns.py
  roles/ipaserver/library/ipaserver_setup_ds.py
  roles/ipaserver/library/ipaserver_setup_http.py
  roles/ipaserver/library/ipaserver_setup_krb.py
  roles/ipaserver/library/ipaserver_test.py
  roles/ipasmartcard_client/library/ipasmartcard_client_validate_ca_certs.py
  roles/ipasmartcard_server/library/ipasmartcard_server_validate_ca_certs.py
Due: ansible-doc-test

utils: Rewrite run-tests.sh to use functions and extenal scripts
  utils/run-tests.sh
  utils/set_test_modules
  utils/setup_test_container.sh
  utils/shansible
  utils/shcontainer
  utils/shfun
Due: shellcheck
