Repository freeipa/ansible-freeipa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-doc-test, shellcheck

ansible-doc-test:
  name: Verify Ansible roles and module documentation.
  language: python
  entry: utils/ansible-doc-test

shellcheck:
  name: ShellCheck
  language: system
  entry: shellcheck

ipauser: Add support for renaming users
  README-user.md
  plugins/modules/ipauser.py
  tests/user/test_user.yml
  tests/user/test_users.yml
Due: ansible-doc-test

tests/group: Use module_defaults on tests_group
  tests/group/test_group.yml
Due: none

Fixes for ansible-lint 6.22.1
  playbooks/cert/cert-hold.yml
  tests/config/test_config_sid.yml
  tests/dnsrecord/test_dnsrecord.yml
  tests/group/test_group.yml
  tests/group/test_groups_absent.yml
  tests/group/test_groups_present.yml
  tests/group/test_groups_present_slice.yml
  tests/host/certificate/test_host_certificate.yml
  tests/host/certificate/test_hosts_certificate.yml
  tests/idoverrideuser/test_idoverrideuser.yml
  tests/service/certificate/test_service_certificate.yml
  tests/service/certificate/test_service_certificate_newline.yml
  tests/service/certificate/test_services_certificate_newline.yml
  tests/service/test_service_disable.yml
  tests/user/certificate/test_user_certificate.yml
  tests/user/certificate/test_users_certificate.yml
  tests/user/certmapdata/test_user_certmapdata.yml
  tests/user/certmapdata/test_users_certmapdata.yml
  tests/user/test_users_invalid_cert.yml
Due: none

ipagroup: Add support for renaming groups
  README-group.md
  plugins/modules/ipagroup.py
  tests/group/test_group.yml
  tests/group/test_groups.yml
Due: ansible-doc-test

pre-commit: Bump version of pre-commit hooks.
  .pre-commit-config.yaml
Due: none

upstream development: Define minimum versions for development packages
  requirements-dev.txt
Due: none

PR checks: Use latest version of Github Actions
  .github/workflows/ansible-test.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/readme.yml
Due: none

iparole: Use 'hostname' datatype
  plugins/modules/iparole.py
Due: ansible-doc-test

ipanetgroup: Use 'hostname' datatype
  plugins/modules/ipanetgroup.py
Due: ansible-doc-test

ansbile_module_utils: Use IPA object data type in compare_args_ipa
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

module_utils: Add support for hostname datatype
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

ipasudorule: Use 'hostname' datatype
  plugins/modules/ipasudorule.py
Due: ansible-doc-test

module_utils: Add support for service datatype
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

iparole: Use 'service' datatype
  plugins/modules/iparole.py
Due: ansible-doc-test

ipahostgroup: Use 'hostname' datatype
  plugins/modules/ipahostgroup.py
Due: ansible-doc-test

ipahbacrule: Use 'hostname' datatype
  plugins/modules/ipahbacrule.py
Due: ansible-doc-test

ipaservice: Use 'service' datatype
  plugins/modules/ipaservice.py
  tests/service/test_service_disable.yml
Due: ansible-doc-test

ansible_module_utils: Add support for CaseInsensitive data types
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

ipadelegation: Fix idempotence issues due to case insensitive strings
  plugins/modules/ipadelegation.py
  tests/delegation/test_delegation_member_case_insensitive.yml
Due: ansible-doc-test

ipahbacrule: Fix handling of hbacsvcgroup in members
  plugins/modules/ipahbacrule.py
  tests/hbacrule/test_hbacrule_member_case_insensitive.yml
Due: ansible-doc-test

ansible_module_utils: Make list generation function data type aware
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

ipahostgroup: Fix idempotence issues due to capitalization
  plugins/modules/ipahostgroup.py
  tests/hostgroup/test_hostgroup_case_insensitive.yml
  tests/hostgroup/test_hostgroup_membermanager_case_insensitive.yml
Due: ansible-doc-test

ipagroup: Fix idempotence issues due to capitalization
  plugins/modules/ipagroup.py
  tests/group/test_group_case_insensitive.yml
Due: ansible-doc-test

ipasudorule: Allow setting groups for runasuser.
  README-sudorule.md
  playbooks/sudorule/ensure-sudorule-runasuser-group-is-absent.yml
  playbooks/sudorule/ensure-sudorule-runasuser-group-is-present.yml
  plugins/modules/ipasudorule.py
  tests/sudorule/test_sudorule.yml
Due: ansible-doc-test

depolyment roles: Allow deployment without gather_facts
  roles/ipaclient/tasks/main.yml
  roles/ipareplica/tasks/main.yml
  roles/ipaserver/tasks/main.yml
Due: none

ipaclient: Enable SELinux for SSSD
  roles/ipaclient/library/ipaclient_setup_nss.py
  roles/ipaclient/library/ipaclient_test.py
  roles/ipaclient/module_utils/ansible_ipa_client.py
  roles/ipaclient/tasks/install.yml
Due: ansible-doc-test

ipaclient_setup_automount with new install states
  roles/ipaclient/library/ipaclient_setup_automount.py
Due: ansible-doc-test

ipaclient_setup_automount: Only return changed if there was a change
  roles/ipaclient/library/ipaclient_setup_automount.py
Due: ansible-doc-test

ipaserver: Fix deployment after Bronze-bit fix
  roles/ipaserver/library/ipaserver_set_ds_password.py
Due: ansible-doc-test

ipaserver: Use hostvars data instead of inventory group name
  roles/ipareplica/tasks/install.yml
Due: none

ipaclient: Use hostvars data instead of inventory group name
  roles/ipaclient/tasks/install.yml
Due: none

config: Disable config tests due to pac type requirement MS-PAC
  tests/azure/templates/variables.yaml
Due: none

azure tests: Allow setting ansible_python_interpreter
  tests/azure/azure-pipelines.yml
  tests/azure/nightly.yml
  tests/azure/pr-pipeline.yml
  tests/azure/templates/group_tests.yml
  tests/azure/templates/playbook_fast.yml
  tests/azure/templates/playbook_tests.yml
  tests/utils.py
Due: ansible-doc-test

utils/run-tests.sh: Allow setting Python interpreter
  utils/run-tests.sh
Due: shellcheck

ipadelegation: Fix idempotence issues due to capitalization.
  plugins/modules/ipadelegation.py
  tests/delegation/test_delegation_member_case_insensitive.yml
Due: ansible-doc-test

README-dnszone: Fix yaml code block declaration.
  README-dnszone.md
Due: none

Fix ca-less test to use X.509 v3 certificates
  tests/ca-less/certificates/extensions.conf
  tests/ca-less/certificates/pkinit-extensions.conf
  tests/ca-less/certificates/pkinit/extensions.conf
  tests/ca-less/clean_up_certificates.yml
  tests/ca-less/generate-certificates.sh
Due: shellcheck

Path conditions:
  ansible-doc-test: any of: ^.*.py$
  shellcheck: any of: \.sh$
