Repository freeipa/ansible-freeipa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-doc-test, shellcheck

ansible-doc-test:
  name: Verify Ansible roles and module documentation.
  language: python
  entry: utils/ansible-doc-test

shellcheck:
  name: ShellCheck
  language: system
  entry: shellcheck

tests: Allow set Python interpreter to use by Ansible
  tests/README.md
  tests/utils.py
Due: ansible-doc-test

gitignore: Ignore test results from run-tests.sh
  .gitignore
Due: none

upstream ci: Use util scripts instead of molecule
  tests/azure/pr-pipeline.yml
  tests/azure/templates/fast_tests.yml
  tests/azure/templates/playbook_fast.yml
Due: none

ci lint: Allow ShellCheck to test source-d scripts.
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: none

TEMP: temporary commit to force a few tests to be executed.
  tests/azure/templates/variables.yaml
Due: none

ansible_freeipa_module: date_format should return a string, not datetime
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

Truncate stdout and stderr in upstream test log
  tests/utils.py
Due: ansible-doc-test

tests/service/test_services_present.yml: Add missing cleanup
  tests/service/test_services_present.yml
Due: none

Fix multi user tests
  tests/user/test_users_present.yml
  tests/user/test_users_present_absent.yml
  tests/user/test_users_present_absent_slice.yml
  tests/user/test_users_present_slice.yml
Due: none

utils: Rewrite run-tests.sh to use functions and extenal scripts
  utils/run-tests.sh
  utils/set_test_modules
  utils/setup_test_container.sh
  utils/shansible
  utils/shcontainer
  utils/shfun
  utils/shlog
Due: shellcheck

tests: Allow to set Python interpreter to be used by Ansible
  tests/README.md
  tests/utils.py
Due: ansible-doc-test

upstream ci: Remove 'molecule' from tests.
  tests/azure/pr-pipeline.yml
  tests/azure/templates/fast_tests.yml
  tests/azure/templates/playbook_fast.yml
Due: none

Remove log limit.
  tests/utils.py
Due: ansible-doc-test

fixup! utils: Rewrite run-tests.sh to use functions and extenal scripts
  utils/setup_test_container.sh
Due: shellcheck

Remove some reporting limits.
  tests/utils.py
Due: ansible-doc-test

Try differente ansible versions.
  tests/azure/pr-pipeline.yml
Due: none

Disable podman log.
  utils/shcontainer
Due: none

README-host.md: correction of managedby_host description
  README-host.md
Due: none

New image builder without molecule using podman
  infra/image/build.sh
  infra/image/dockerfile/c10s
  infra/image/dockerfile/c8s
  infra/image/dockerfile/c9s
  infra/image/dockerfile/fedora-latest
  infra/image/dockerfile/fedora-rawhide
  infra/image/inventory
  infra/image/system-service/fixipaip.service
  infra/image/system-service/fixipaip.sh
  infra/image/system-service/fixnet.service
  infra/image/system-service/fixnet.sh
Due: shellcheck

infra/image/build.sh: Fail if deployment failed or podman is missing
  infra/image/build.sh
Due: shellcheck

fixup! New image builder without molecule using podman
  tests/azure/templates/build_container.yml
Due: none

tests/azure/templates/build_container.yml: Use new image builder
  tests/azure/templates/build_container.yml
Due: none

ustream ci: Use infra scripts to build testing images
  tests/azure/build-containers.yml
  tests/azure/templates/build_container.yml
Due: none

Add shell utitily functions for scripts
  utils/shfun
  utils/shlog
Due: none

rjeffman: this is a fixup for infra/images/build.sh
  infra/image/build.sh
  infra/image/inventory
Due: shellcheck

utils: Rewrite run-tests.sh to use functions and extenal scripts
  utils/run-tests.sh
  utils/set_test_modules
  utils/setup_test_container.sh
  utils/shansible
  utils/shcontainer
Due: shellcheck

tests/utils.py: Shorten run_playbook for smaller traceback with assert
  tests/utils.py
Due: ansible-doc-test

Path conditions:
  ansible-doc-test: any of: ^.*.py$
  shellcheck: any of: \.sh$
