Repository freeipa/ansible-freeipa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-doc-test, shellcheck

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/ansible/ansible-lint.git
  rev: v5.3.2
  hooks:
  - id: ansible-lint
    always_run: false
    pass_filenames: true
    files: \.(yaml|yml)$
    exclude: /env[^/]*.(yaml|yml)$
    entry: |
        env ANSIBLE_LIBRARY=./plugins/modules ANSIBLE_MODULE_UTILS=./plugins/module_utils ANSIBLE_DOC_FRAGMENT_PLUGINS=./plugins/doc_fragments ansible-lint
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.26.1
  hooks:
  - id: yamllint
    files: \.(yaml|yml)$
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
- repo: https://gitlab.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
- repo: https://github.com/pycqa/pylint
  rev: v2.12.2
  hooks:
  - id: pylint
    args:
    - --disable=import-error
    files: \.py$
- repo: local
  hooks:
  - id: ansible-doc-test
    name: Verify Ansible roles and module documentation.
    language: python
    entry: utils/ansible-doc-test
    # args: ['-v', 'roles', 'plugins']
    files: ^.*.py$
- repo: local
  hooks:
  - id: shellcheck
    name: ShellCheck
    language: system
    entry: shellcheck
    files: \.sh$

ipauser: Add note on attributes 'first' and 'last' requirements
  README-user.md
  plugins/modules/ipauser.py
Due: ansible-doc-test

upstream CI: Fix list evaluation in IPA_ENABLED/IPA_DISABLED tests
  tests/utils.py
Due: ansible-doc-test

ipaserver: ipaclient part does not need to install packages
  roles/ipaserver/tasks/install.yml
Due: none

fedora rawhide: Temporarily disable failing DNS tests
  tests/azure/templates/variables_fedora-rawhide.yaml
Due: none

run-tests: Run tests locally with upstream CI images
  .ansible-lint
  requirements-docker.yml
  requirements-podman.yml
  tests/README.md
  tests/utils.py
  utils/run-tests.sh
Due: ansible-doc-test, shellcheck

ipaserver: Add missing idstart check
  roles/ipaserver/library/ipaserver_test.py
  roles/ipaserver/module_utils/ansible_ipa_server.py
Due: ansible-doc-test

tests: Drop pytest-split-tests in favor of pytest-split
  requirements-tests.txt
  tests/azure/templates/galaxy_script.yml
  tests/azure/templates/playbook_tests.yml
Due: none

check_test_configuration: Add support for IPA_* environment variables
  utils/check_test_configuration.py
Due: ansible-doc-test

upstream CI: run PR tests only for affected plugins
  requirements-tests.txt
  tests/azure/pr-pipeline.yml
  tests/azure/templates/fast_tests.yml
  tests/azure/templates/playbook_fast.yml
  utils/get_test_modules.py
  utils/set_test_modules
Due: ansible-doc-test

ipaserver/ipareplica: Add isatty method to AnsibleModuleLog
  roles/ipareplica/module_utils/ansible_ipa_replica.py
  roles/ipaserver/module_utils/ansible_ipa_server.py
Due: ansible-doc-test

ipabackup: Add playbook tests for ipabackup.
  tests/backup_role/test_backup.yml
Due: none

upstream CI: Ensure 'master' branch is available for set_test_modules
  utils/set_test_modules
Due: none

Upstream test for smartcard_server role
  tests/smartcard_server_role/restart_sssd_cleanly.sh
  tests/smartcard_server_role/test_smartcard_server_role.yml
Due: shellcheck

utils/ansible-freeipa.spec.in: Sync with Fedora rawhide spec file
  utils/ansible-freeipa.spec.in
Due: none

upstream CI: Force retrieval of ansible-freeipa master.
  utils/set_test_modules
Due: none

ipabackup: Fix order of ipabackup_name parameter evaluation.
  roles/ipabackup/tasks/main.yml
  tests/backup_role/test_backup.yml
Due: none

ipaconfig: Fix example playbook titles.
  playbooks/config/retrieve-config.yml
  playbooks/config/set-ca-renewal-master-server.yml
Due: none

ipaconfig: Add support for SID related attributes.
  README-config.md
  playbooks/config/change-ipa-domain-netbios-name.yml
  playbooks/config/generate-users-groups-sids.yml
  plugins/modules/ipaconfig.py
  tests/azure/templates/variables_centos-7.yaml
  tests/config/test_config_sid.yml
Due: ansible-doc-test

ansible_freeipa_module: Remove deprecated FreeIPABaseModule
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

tests/sanity/ignore-2.12.txt: Remove ansible-deprecated-no-collection-name
  tests/sanity/ignore-2.12.txt
Due: none

Azure CI: Update variable files instructions.
  tests/azure/templates/variables_c8s.yaml
  tests/azure/templates/variables_c9s.yaml
  tests/azure/templates/variables_centos-7.yaml
  tests/azure/templates/variables_fedora-latest.yaml
  tests/azure/templates/variables_fedora-rawhide.yaml
Due: none

Azure CI: Re-enable dnszone tests with forwarder ports
  tests/azure/templates/variables_fedora-latest.yaml
  tests/azure/templates/variables_fedora-rawhide.yaml
Due: none

ipasmartcard_server_get_vars: Fix for ansible-test fake execution test
  roles/ipasmartcard_server/library/ipasmartcard_server_get_vars.py
Due: ansible-doc-test

ipasmartcard_client_get_vars: Fix for ansible-test fake execution test
  roles/ipasmartcard_client/library/ipasmartcard_client_get_vars.py
Due: ansible-doc-test

ipabackup_get_backup_dir: Fix for ansible-test fake execution test
  roles/ipabackup/library/ipabackup_get_backup_dir.py
Due: ansible-doc-test

ansible_freeipa_module: Fix ansible-test fake execution test findings
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

ipadnsrecord: Fix for ansible-test fake execution test
  plugins/modules/ipadnsrecord.py
Due: ansible-doc-test

ipadnszone: import netaddr and DNSName from ansible_freeipa_module
  plugins/modules/ipadnszone.py
Due: ansible-doc-test

tests/sanity/ignore-2.12.txt: Remove unnecessary entries
  tests/sanity/ignore-2.12.txt
Due: none

ipaautomember: Fix documentation sections and agument spec
  plugins/modules/ipaautomember.py
Due: ansible-doc-test

ipaautomountkey: Fix documentation sections and agument spec
  plugins/modules/ipaautomountkey.py
Due: ansible-doc-test

ipaautomountlocation: Fix documentation sections and agument spec
  plugins/modules/ipaautomountlocation.py
Due: ansible-doc-test

ipaautomountmap: Fix documentation sections and agument spec
  plugins/modules/ipaautomountmap.py
Due: ansible-doc-test

ipaconfig: Fix documentation sections and agument spec
  plugins/modules/ipaconfig.py
Due: ansible-doc-test

ipadelegation: : Fix documentation sections and agument spec
  plugins/modules/ipadelegation.py
Due: ansible-doc-test

ipadnsconfig: Fix documentation sections and agument spec
  plugins/modules/ipadnsconfig.py
Due: ansible-doc-test

ipadnsforwardzone: : Fix documentation sections and agument spec
  plugins/modules/ipadnsforwardzone.py
Due: ansible-doc-test

ipadnszone: Fix documentation sections and agument spec
  plugins/modules/ipadnszone.py
Due: ansible-doc-test
