Repository freeipa/ansible-freeipa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-doc-test, shellcheck

ansible-doc-test:
  name: Verify Ansible roles and module documentation.
  language: python
  entry: utils/ansible-doc-test

shellcheck:
  name: ShellCheck
  language: system
  entry: shellcheck

ansible_freeipa_module: pylint fixes.
  plugins/module_utils/ansible_freeipa_module.py
  setup.cfg
Due: ansible-doc-test

utils/changelog: Fixed --tag option, new --galaxy option
  utils/changelog
Due: none

build-galaxy-release: Automatically create CHANGELOG.
  utils/build-galaxy-release.sh
Due: shellcheck

Add support to define which playbook tests to execute with pytest.
  tests/README.md
  tests/azure/templates/playbook_tests.yml
  tests/azure/templates/pytest_tests.yml
  tests/azure/templates/variables.yaml
  tests/test_playbook_runs.py
  tests/utils.py
Due: ansible-doc-test

upstream tests: Disable dnsconfig and dnsforwardzone
  tests/azure/templates/variables.yaml
Due: none

tests/utils.py: Fix pylint issues.
  tests/sanity/ignore-2.12.txt
  tests/utils.py
Due: ansible-doc-test

upstream CI: Disable fowarder tests.
  tests/utils.py
Due: ansible-doc-test

tests/util.py: Fix pylint errors
  tests/sanity/ignore-2.12.txt
  tests/utils.py
Due: ansible-doc-test

fixup! Add support to define which playbook tests to execute with pytest.
  tests/azure/templates/playbook_tests.yml
  tests/azure/templates/pytest_tests.yml
Due: none

requirements-dev: Update requirements for virtual environments
  requirements-dev.txt
Due: none

ansible_module_utils: add method to retrive SID from dom_name.
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

idrange: Fix addition of idrange with dom_name.
  README-idrange.md
  plugins/modules/ipaidrange.py
  tests/idrange/test_idrange.yml
Due: ansible-doc-test

pylint: Ignore module ipaserver.dcerpc errors.
  plugins/module_utils/ansible_freeipa_module.py
  setup.cfg
Due: ansible-doc-test

upstream CI: Add support for testing ansible-freeipa as a collection.
  tests/azure/azure-pipelines.yml
  tests/azure/nightly.yml
  tests/azure/templates/galaxy_pytest_script.yml
  tests/azure/templates/galaxy_script.yml
  tests/azure/templates/galaxy_tests.yml
Due: none

idrange: Fix list of invalid parameters for 'state:absent'.
  plugins/modules/ipaidrange.py
Due: ansible-doc-test

New roles for smartcard server and client setup
  README.md
  playbooks/install-smartcard-clients.yml
  playbooks/install-smartcard-replicas.yml
  playbooks/install-smartcard-server.yml
  playbooks/install-smartcard-servers.yml
  roles/ipasmartcard_client/README.md
  roles/ipasmartcard_client/defaults/main.yml
  roles/ipasmartcard_client/files/ipasmartcard_client_add_ca_to_sssd_auth_ca_db.sh
  roles/ipasmartcard_client/files/ipasmartcard_client_add_ca_to_systemwide_db.sh
  roles/ipasmartcard_client/files/ipasmartcard_client_add_pkcs11_module_to_systemwide_db.sh
  roles/ipasmartcard_client/library/ipasmartcard_client_get_vars.py
  roles/ipasmartcard_client/library/ipasmartcard_client_validate_ca_certs.py
  roles/ipasmartcard_client/meta/main.yml
  roles/ipasmartcard_client/tasks/main.yml
  roles/ipasmartcard_client/vars/default.yml
  roles/ipasmartcard_server/README.md
  roles/ipasmartcard_server/defaults/main.yml
  roles/ipasmartcard_server/files/ipasmartcard_server_add_ca_to_sssd_auth_ca_db.sh
  roles/ipasmartcard_server/files/ipasmartcard_server_add_ca_to_systemwide_db.sh
  roles/ipasmartcard_server/files/ipasmartcard_server_enable_ocsp_directive.sh
  roles/ipasmartcard_server/files/ipasmartcard_server_mark_httpd_cert_as_trusted.sh
  roles/ipasmartcard_server/library/ipasmartcard_server_get_vars.py
  roles/ipasmartcard_server/library/ipasmartcard_server_validate_ca_certs.py
  roles/ipasmartcard_server/meta/main.yml
  roles/ipasmartcard_server/tasks/main.yml
  roles/ipasmartcard_server/vars/default.yml
Due: ansible-doc-test, shellcheck

upstream CI: Remove Ansible 2.9 from test matrix
  tests/azure/nightly.yml
Due: none

upstream CI: Enable tests using ansible-core 2.12.
  tests/azure/nightly.yml
Due: none

upstream ci: Allow disabling tests depending on container image distro
  tests/README.md
  tests/azure/templates/galaxy_pytest_script.yml
  tests/azure/templates/galaxy_script.yml
  tests/azure/templates/playbook_tests.yml
  tests/azure/templates/pytest_tests.yml
  tests/azure/templates/variables.yaml
  tests/utils.py
Due: ansible-doc-test

TEMP: Example usage of distro based test selecttion.
  tests/azure/templates/variables.yaml
Due: none

upstream ci: Avoid scheduling tests that will not be executed.
  tests/test_playbook_runs.py
  tests/utils.py
Due: ansible-doc-test

TEMP: dumb test
  tests/azure/templates/variables.yaml
Due: none

ipaserver: Use jinja for list concatenation
  roles/ipaserver/tasks/copy_external_cert.yml
Due: none

ipaserver,ipareplica: Add random_serial_numbers to options
  roles/ipareplica/library/ipareplica_prepare.py
  roles/ipareplica/library/ipareplica_setup_ca.py
  roles/ipareplica/tasks/install.yml
  roles/ipaserver/library/ipaserver_prepare.py
  roles/ipaserver/library/ipaserver_setup_ca.py
  roles/ipaserver/tasks/install.yml
Due: ansible-doc-test

Provide own getargspec for roles and modules with Python 3.11
  plugins/module_utils/ansible_freeipa_module.py
  roles/ipaclient/library/ipaclient_api.py
  roles/ipaclient/library/ipaclient_setup_nis.py
  roles/ipaclient/library/ipaclient_setup_nss.py
  roles/ipaclient/library/ipaclient_setup_ntp.py
  roles/ipaclient/library/ipaclient_test.py
  roles/ipaclient/module_utils/ansible_ipa_client.py
  roles/ipareplica/library/ipareplica_custodia_import_dm_password.py
  roles/ipareplica/library/ipareplica_setup_ds.py
  roles/ipareplica/library/ipareplica_setup_http.py
  roles/ipareplica/library/ipareplica_setup_krb.py
  roles/ipareplica/library/ipareplica_test.py
  roles/ipareplica/module_utils/ansible_ipa_replica.py
  roles/ipaserver/library/ipaserver_setup_ntp.py
  roles/ipaserver/library/ipaserver_test.py
  roles/ipaserver/module_utils/ansible_ipa_server.py
Due: ansible-doc-test

tests/server/test_server.yml: Fix generation of ipaserver_domain
  tests/server/test_server.yml
Due: none

api_check_ipa_version: Fix version comparison for more than one digit
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

pytest tests: Enhanced assertion for check_* methods.
  tests/utils.py
Due: ansible-doc-test

pytests/test_dnszone: Fix evaluation of boolean values
  tests/pytests/dnszone/test_dnszone.py
Due: ansible-doc-test

Fix handling of boolean values for FreeIPA 4.9.10+
  plugins/module_utils/ansible_freeipa_module.py
  plugins/modules/ipaconfig.py
  plugins/modules/ipadnsforwardzone.py
  plugins/modules/ipadnszone.py
  plugins/modules/ipahbacrule.py
  plugins/modules/ipasudorule.py
Due: ansible-doc-test

upstream CI: enable tests on Fedora Rawide.
  molecule/fedora-rawhide-build/Dockerfile
  molecule/fedora-rawhide-build/molecule.yml
  molecule/fedora-rawhide/molecule.yml
  tests/azure/build-containers.yml
  tests/azure/nightly.yml
Due: none

ansible_freeipa_module: Use ipaplatform.tasks.parse_ipa_version
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

sanity.sh: Allow use of podman instead of docker
  tests/sanity/sanity.sh
Due: shellcheck

upstream ci: Fix evaluation of multiple tests in variables
  tests/utils.py
Due: ansible-doc-test

upstream ci: Run tests only for modified plugins or tests.
  .github/workflows/fast_test.yml
  utils/filter_tests
Due: none

TEMP: Show a change in a test that would make it run.
  tests/dnszone/test_dnszone_client_context.yml
Due: none

TEMP: Add change to a module to start a test.
  plugins/modules/ipaautomember.py
Due: ansible-doc-test

TEMP: Show a change that would not spawn any test.
  plugins/modules/ipatopologysegment.py
Due: ansible-doc-test

FIXUP 1
  .github/workflows/fast_test.yml
Due: none

FIXUP 2
  .github/workflows/fast_test.yml
Due: none

Path conditions:
  ansible-doc-test: any of: ^.*.py$
  shellcheck: any of: \.sh$
