Repository freeipa/ansible-freeipa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-doc-test, shellcheck

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/ansible/ansible-lint.git
  rev: v5.3.2
  hooks:
  - id: ansible-lint
    always_run: false
    pass_filenames: true
    files: \.(yaml|yml)$
    exclude: /env[^/]*.(yaml|yml)$
    entry: |
        env ANSIBLE_LIBRARY=./plugins/modules ANSIBLE_MODULE_UTILS=./plugins/module_utils ANSIBLE_DOC_FRAGMENT_PLUGINS=./plugins/doc_fragments ansible-lint
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.26.1
  hooks:
  - id: yamllint
    files: \.(yaml|yml)$
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
- repo: https://gitlab.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
- repo: https://github.com/pycqa/pylint
  rev: v2.12.2
  hooks:
  - id: pylint
    args:
    - --disable=import-error
    files: \.py$
- repo: local
  hooks:
  - id: ansible-doc-test
    name: Verify Ansible roles and module documentation.
    language: python
    entry: utils/ansible-doc-test
    # args: ['-v', 'roles', 'plugins']
    files: ^.*.py$
- repo: local
  hooks:
  - id: shellcheck
    name: ShellCheck
    language: system
    entry: shellcheck
    files: \.sh$

ipareplica_add_to_ipaservers: Fix documentation sections and agument spec
  roles/ipareplica/library/ipareplica_add_to_ipaservers.py
Due: ansible-doc-test

ipareplica_setup_certmonger: Fix documentation sections and agument spec
  roles/ipareplica/library/ipareplica_setup_certmonger.py
Due: ansible-doc-test

ipareplica_ds_enable_ssl: Fix documentation sections and agument spec
  roles/ipareplica/library/ipareplica_ds_enable_ssl.py
Due: ansible-doc-test

ipareplica_setup_ds: Fix documentation sections and agument spec
  roles/ipareplica/library/ipareplica_setup_ds.py
Due: ansible-doc-test

ipareplica_promote_openldap_conf: Fix documentation sections and agument spec
  roles/ipareplica/library/ipareplica_promote_openldap_conf.py
Due: ansible-doc-test

ipareplica_custodia_import_dm_password: Fix doc sections and agument spec
  roles/ipareplica/library/ipareplica_custodia_import_dm_password.py
Due: ansible-doc-test

ipareplica_setup_ca: Fix documentation sections and agument spec
  roles/ipareplica/library/ipareplica_setup_ca.py
Due: ansible-doc-test

ipareplica_promote_sssd: Fix documentation sections and agument spec
  roles/ipareplica/library/ipareplica_promote_sssd.py
Due: ansible-doc-test

ansible_ipa_replica: Fix ansible-test fake execution test findings
  roles/ipareplica/module_utils/ansible_ipa_replica.py
Due: ansible-doc-test

ipareplica_setup_krb: Fix documentation sections and agument spec
  roles/ipareplica/library/ipareplica_setup_krb.py
Due: ansible-doc-test

ipareplica_setup_http: Fix documentation sections and agument spec
  roles/ipareplica/library/ipareplica_setup_http.py
Due: ansible-doc-test

ansible_ipa_server: Fix ansible-test fake execution test findings
  roles/ipaserver/module_utils/ansible_ipa_server.py
Due: ansible-doc-test

ipaserver_load_cache: Fix documentation sections and agument spec
  roles/ipaserver/library/ipaserver_load_cache.py
Due: ansible-doc-test

ipaserver_setup_adtrust: Fix documentation sections and agument spec
  roles/ipaserver/library/ipaserver_setup_adtrust.py
Due: ansible-doc-test

ipaserver_setup_dns: Fix documentation sections and agument spec
  roles/ipaserver/library/ipaserver_setup_dns.py
Due: ansible-doc-test

ipaserver_setup_custodia: Fix documentation sections and agument spec
  roles/ipaserver/library/ipaserver_setup_custodia.py
Due: ansible-doc-test

ipaserver_setup_krb: Fix documentation sections and agument spec
  roles/ipaserver/library/ipaserver_setup_krb.py
Due: ansible-doc-test

ipaserver_setup_otpd: Fix documentation sections and agument spec
  roles/ipaserver/library/ipaserver_setup_otpd.py
Due: ansible-doc-test

ipaserver_master_password: Fix documentation sections and agument spec
  roles/ipaserver/library/ipaserver_master_password.py
Due: ansible-doc-test

ipaserver_setup_ntp: Fix documentation sections and agument spec
  roles/ipaserver/library/ipaserver_setup_ntp.py
Due: ansible-doc-test

ipaserver_test: Fix documentation sections and agument spec
  roles/ipaserver/library/ipaserver_test.py
Due: ansible-doc-test

ipaserver_enable_ipa: Fix documentation sections and agument spec
  roles/ipaserver/library/ipaserver_enable_ipa.py
Due: ansible-doc-test

ipaserver_setup_http: Fix documentation sections and agument spec
  roles/ipaserver/library/ipaserver_setup_http.py
Due: ansible-doc-test

ipaserver_setup_ca: Fix documentation sections and agument spec
  roles/ipaserver/library/ipaserver_setup_ca.py
Due: ansible-doc-test

ipaserver_set_ds_password: Fix documentation sections and agument spec
  roles/ipaserver/library/ipaserver_set_ds_password.py
Due: ansible-doc-test

ipaserver_setup_ds: Fix documentation sections and agument spec
  roles/ipaserver/library/ipaserver_setup_ds.py
Due: ansible-doc-test

ipaserver_prepare: Fix documentation sections and agument spec
  roles/ipaserver/library/ipaserver_prepare.py
Due: ansible-doc-test

ipaserver_setup_kra: Fix documentation sections and agument spec
  roles/ipaserver/library/ipaserver_setup_kra.py
Due: ansible-doc-test

upstream ci: Use Shellcheck action from 'master'.
  .github/workflows/lint.yml
Due: none

upstream ci: Update Github actions due to old Node.js.
  .github/workflows/ansible-test.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/readme.yml
Due: none

upstream tests: Removal of 'warn: no' from shell plugins
  tests/dnsrecord/test_dnsrecord.yml
  tests/host/certificate/test_host_certificate.yml
  tests/host/certificate/test_hosts_certificate.yml
  tests/service/certificate/test_service_certificate.yml
  tests/service/test_service_disable.yml
  tests/user/certificate/test_user_certificate.yml
  tests/user/certificate/test_users_certificate.yml
  tests/user/certmapdata/test_user_certmapdata.yml
  tests/user/certmapdata/test_users_certmapdata.yml
  tests/user/test_users_invalid_cert.yml
Due: none

pwpolicy: Add support for password check and grace limit.
  README-pwpolicy.md
  playbooks/pwpolicy/pwpolicy_grace_limit.yml
  playbooks/pwpolicy/pwpolicy_password_check.yml
  plugins/modules/ipapwpolicy.py
  tests/pwpolicy/test_pwpolicy.yml
Due: ansible-doc-test

github worflows: speed up git checkout.
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/readme.yml
Due: none

ipaclient: Configure DNS resolver
  roles/ipaclient/README.md
  roles/ipaclient/defaults/main.yml
  roles/ipaclient/library/ipaclient_configure_dns_resolver.py
  roles/ipaclient/tasks/install.yml
  roles/ipaclient/tasks/uninstall.yml
Due: ansible-doc-test

ipaclient: No kinit on controller for deployment using OTP
  README.md
  roles/ipaclient/README.md
  roles/ipaclient/action_plugins/ipaclient_get_otp.py
  roles/ipaclient/library/ipaclient_get_facts.py
  roles/ipaclient/library/ipaclient_get_otp.py
  roles/ipaclient/tasks/install.yml
  utils/build-galaxy-release.sh
Due: ansible-doc-test, shellcheck

sudorule: Add support for 'hostmask' parameter
  README-sudorule.md
  playbooks/sudorule/ensure-sudorule-hostmask-member-is-absent.yml
  playbooks/sudorule/ensure-sudorule-hostmask-member-is-present.yml
  plugins/modules/ipasudorule.py
  tests/sudorule/test_sudorule.yml
Due: ansible-doc-test

pre-commit: Fix pycqa pre-commit repos.
  .pre-commit-config.yaml
Due: none

utils: Remove deprecated shell scripts used to deploy IPA.
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  utils/ansible-freeipa.spec.in
  utils/ansible-ipa-client-install
  utils/ansible-ipa-replica-install
  utils/ansible-ipa-server-install
Due: none

ipaclient: No DNS resolver configuration on master
  roles/ipaclient/tasks/install.yml
Due: none

environment: Fix os.environ language setting.
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test
