Repository freeipa/ansible-freeipa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-doc-test, shellcheck

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.29.0
  hooks:
  - id: yamllint
    files: \.(yaml|yml)$
- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.0.0
  hooks:
  - id: pydocstyle
- repo: https://github.com/pycqa/pylint
  rev: v2.17.0
  hooks:
  - id: pylint
    args:
    - --disable=import-error
    files: \.py$
- repo: local
  hooks:
  - id: ansible-doc-test
    name: Verify Ansible roles and module documentation.
    language: python
    entry: utils/ansible-doc-test
    # args: ['-v', 'roles', 'plugins']
    files: ^.*.py$
- repo: local
  hooks:
  - id: shellcheck
    name: ShellCheck
    language: system
    entry: shellcheck
    files: \.sh$

upstream CI: Disable ansible-lint var-naming check
  .ansible-lint
Due: none

upstream CI multihost: Create multihost environment
  .ansible-lint
  .github/workflows/multihost.yml
  .gitignore
  tests/multihost/.gitignore
  tests/multihost/README-vagrant.md
  tests/multihost/Vagrantfile
  tests/multihost/ensure-reverse-dns.yaml
  tests/multihost/get_ip.sh
  tests/multihost/inventory/group_vars/all.yml
  tests/multihost/inventory/vagrant-inventory.yml
  tests/multihost/playbooks
Due: shellcheck

TEMP: Disable other tests.
  .github/workflows/ansible-test.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/readme.yml
Due: none

fixup: Increase timeout.
  tests/multihost/Vagrantfile
Due: none

fixup: Increase timeout even more.
  tests/multihost/Vagrantfile
Due: none

fixup: netbios name
  tests/multihost/inventory/vagrant-inventory.yml
Due: none

fixup: Better test log.
  .github/workflows/multihost.yml
Due: none

fixup: fix artifacts.
  .github/workflows/multihost.yml
Due: none

fixup: several fixes, playbook, workflow.
  .github/workflows/multihost.yml
  tests/multihost/Vagrantfile
  tests/multihost/get_ip.sh
  tests/multihost/inventory/vagrant-inventory.yml
Due: shellcheck

ipareplica: Removed unused parameter _ca_file
  roles/ipareplica/library/ipareplica_custodia_import_dm_password.py
  roles/ipareplica/library/ipareplica_ds_apply_updates.py
  roles/ipareplica/library/ipareplica_ds_enable_ssl.py
  roles/ipareplica/library/ipareplica_krb_enable_ssl.py
  roles/ipareplica/library/ipareplica_restart_kdc.py
  roles/ipareplica/library/ipareplica_setup_ca.py
  roles/ipareplica/library/ipareplica_setup_custodia.py
  roles/ipareplica/library/ipareplica_setup_http.py
  roles/ipareplica/library/ipareplica_setup_otpd.py
  roles/ipareplica/tasks/install.yml
Due: ansible-doc-test

Don't allow the FQDN to match the domain on server installs
  roles/ipareplica/library/ipareplica_test.py
  roles/ipaserver/library/ipaserver_test.py
Due: ansible-doc-test

Allow multiple services creation
  plugins/modules/ipaservice.py
  tests/service/create_services_json.yml
  tests/service/hosts.sh
  tests/service/services.sh
  tests/service/services_absent.sh
  tests/service/test_services_absent.yml
  tests/service/test_services_present.yml
  tests/service/test_services_present_slice.yml
  tests/service/test_services_without_skip_host_check.yml
Due: ansible-doc-test, shellcheck

ipaservice: Properly Handle certs with leading or trailing white space
  plugins/modules/ipaservice.py
Due: ansible-doc-test

ipaservice: Updated and new tests for certificates and multi service handling
  tests/service/certificate/test_service_certificate_newline.yml
  tests/service/certificate/test_services_certificate_newline.yml
  tests/service/create_services_json.yml
  tests/service/generate_test_data.yml
  tests/service/hosts.sh
  tests/service/services.sh
  tests/service/services_absent.sh
  tests/service/test_services_absent.yml
  tests/service/test_services_present.yml
  tests/service/test_services_present_slice.yml
Due: shellcheck

ipaservice: Add Denis Karpelevich to the authors header
  plugins/modules/ipaservice.py
Due: ansible-doc-test

New certificate management module.
  README-cert.md
  README.md
  playbooks/cert/cert-hold.yml
  playbooks/cert/cert-release.yml
  playbooks/cert/cert-request-host.yml
  playbooks/cert/cert-request-service.yml
  playbooks/cert/cert-request-user.yml
  playbooks/cert/cert-retrieve.yml
  playbooks/cert/cert-revoke.yml
  plugins/module_utils/ansible_freeipa_module.py
  plugins/modules/ipacert.py
  setup.cfg
  tests/cert/test_cert_client_context.yml
  tests/cert/test_cert_host.yml
  tests/cert/test_cert_service.yml
  tests/cert/test_cert_user.yml
Due: ansible-doc-test

Fix typo in ipapwpolicy.py
  plugins/modules/ipapwpolicy.py
Due: ansible-doc-test

pwpolicy test: Fix maxsequence test
  tests/pwpolicy/test_pwpolicy.yml
Due: none

Gather required facts if relevant keys in ansible_facts are missing
  roles/ipaclient/tasks/main.yml
  roles/ipareplica/tasks/main.yml
  roles/ipaserver/tasks/main.yml
  roles/ipasmartcard_client/tasks/main.yml
  roles/ipasmartcard_server/tasks/main.yml
Due: none

upstream CI: Update ansible-core version
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  tests/azure/azure-pipelines.yml
  tests/azure/nightly.yml
  tests/azure/pr-pipeline.yml
  utils/run-tests.sh
Due: shellcheck

Singular to plural on random serial numbers setting
  roles/ipaserver/README.md
Due: none

Change hashbang of Python scripts to python3
  tests/test_playbook_runs.py
  tests/utils.py
  utils/ansible-doc-test
  utils/build-galaxy-release.sh
  utils/changelog
  utils/check_test_configuration.py
  utils/galaxyfy-README.py
  utils/galaxyfy-module-EXAMPLES.py
  utils/galaxyfy-playbook.py
  utils/galaxyfy.py
Due: ansible-doc-test, shellcheck

ipauser: Add support to modify GECOS field.
  README-user.md
  plugins/modules/ipauser.py
  tests/user/test_user.yml
Due: ansible-doc-test

module_utils: Export Ansible's 'boolean' parsing function.
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

ipapwpolicy: Modify handling of usercheck and dictcheck
  plugins/modules/ipapwpolicy.py
  tests/pwpolicy/test_pwpolicy_invalid_data_type.yml
Due: ansible-doc-test

ipapwpolicy: Updated module documentation.
  README-pwpolicy.md
  plugins/modules/ipapwpolicy.py
Due: ansible-doc-test

ipauser: Add support for parameter "street"
  README-user.md
  plugins/modules/ipauser.py
  tests/user/test_user.yml
  tests/user/test_users.yml
Due: ansible-doc-test

Remove dependency on 'virtualenv'
  .github/workflows/ansible-test.yml
  tests/sanity/sanity.sh
Due: shellcheck

doc: Differentiate location meaning between host and server
  README-host.md
  README-server.md
  plugins/modules/ipahost.py
  plugins/modules/ipaserver.py
Due: ansible-doc-test

ipauser: Add support for SMB attributes.
  README-user.md
  playbooks/user/smb-attributes.yml
  plugins/modules/ipauser.py
  tests/user/test_user_smb_attrs.yml
Due: ansible-doc-test

utils/run-tests.sh: Install Ansible collections on virtual environment
  utils/run-tests.sh
Due: shellcheck

ansible_freeipa_module: New ipa_command_invalid_param_choices method
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

ipahost: Add choice idp to auth_ind
  plugins/modules/ipahost.py
Due: ansible-doc-test

ipaservice: Add choice idp to auth_ind
  plugins/modules/ipaservice.py
Due: ansible-doc-test

ipaconfig: Add choices pkinit, hardened and idp to user_auth_type
  plugins/modules/ipaconfig.py
Due: ansible-doc-test

ipauser: Add choices pkinit, hardened and idp to user_auth_type
  plugins/modules/ipauser.py
Due: ansible-doc-test

ipaautomountmap: add support for indirect maps
  README-automountmap.md
  playbooks/automount/automount-map-indirect-map.yml
  plugins/modules/ipaautomountmap.py
  tests/automount/test_automountmap_indirect.yml
Due: ansible-doc-test

ipaserver: Update README with detailed Ubuntu support
  roles/ipabackup/README.md
  roles/ipareplica/README.md
  roles/ipaserver/README.md
Due: none

README-config.md: Add choices pkinit, hardened and idp to user_auth_type
  README-config.md
Due: none

README-host.md: Add choice idp to auth_ind
  README-host.md
Due: none
