Repository freeipa/ansible-freeipa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-doc-test, shellcheck

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.29.0
  hooks:
  - id: yamllint
    files: \.(yaml|yml)$
- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.0.0
  hooks:
  - id: pydocstyle
- repo: https://github.com/pycqa/pylint
  rev: v2.17.0
  hooks:
  - id: pylint
    args:
    - --disable=import-error
    files: \.py$
- repo: local
  hooks:
  - id: ansible-doc-test
    name: Verify Ansible roles and module documentation.
    language: python
    entry: utils/ansible-doc-test
    # args: ['-v', 'roles', 'plugins']
    files: ^.*.py$
- repo: local
  hooks:
  - id: shellcheck
    name: ShellCheck
    language: system
    entry: shellcheck
    files: \.sh$

Revert "upstream ci: Run nightly tests against Ansible 2.9"
  tests/azure/nightly.yml
Due: none

New idp management module
  README-idp.md
  README.md
  playbooks/idp/idp-absent.yml
  playbooks/idp/idp-present.yml
  plugins/module_utils/ansible_freeipa_module.py
  plugins/modules/ipaidp.py
  tests/idp/test_idp.yml
  tests/idp/test_idp_client_context.yml
  utils/ansible-freeipa.spec.in
Due: ansible-doc-test

utils/ansible-freeipa.spec.in: Add ref for idoverridegroup management
  utils/ansible-freeipa.spec.in
Due: none

ansible_freeipa_module.IPAAnsibleModule: New execute_query method
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

ipauser: Implement state:quers using IPAAnsibleModule.execute_query
  plugins/modules/ipauser.py
  tests/user/test_user_query.yml
Due: ansible-doc-test

ipagroup: Implement state:quers using IPAAnsibleModule.execute_query
  plugins/module_utils/ansible_freeipa_module.py
  plugins/modules/ipagroup.py
  plugins/modules/ipauser.py
  tests/group/test_group_query.yml
  tests/group/test_groups.yml
Due: ansible-doc-test

upstream CI: Pin Python version to 3.11
  tests/azure/templates/fast_tests.yml
  tests/azure/templates/galaxy_tests.yml
  tests/azure/templates/group_tests.yml
Due: none

TEMP: Run tests on ipadelegation.
  plugins/modules/ipadelegation.py
Due: ansible-doc-test

upstream CI: Fix evaluation of test suites to run on PR.
  utils/get_test_modules.py
  utils/set_test_modules
Due: ansible-doc-test

upstream CI: Pin ansible-lint version to 6.20 series
  .github/workflows/lint.yml
Due: none

upstream ci: Use a single random seed for spliting tests
  tests/azure/templates/galaxy_script.yml
  tests/azure/templates/playbook_fast.yml
  tests/azure/templates/playbook_tests.yml
Due: none

upstream CI: Fix test selection for CheckPR pipeline.
  utils/get_test_modules.py
Due: ansible-doc-test

upstream ci: Run PR tests using a single job.
  tests/azure/templates/fast_tests.yml
Due: none

ipareplica: Support inventory groups.ipaserver
  roles/ipareplica/tasks/install.yml
Due: none

upstream CI: Build containers in parallel jobs
  tests/azure/build-containers.yml
Due: none

hbacrule: Fix use of builtin sudo hbacsvcgroup
  plugins/modules/ipahbacrule.py
  tests/hbacrule/test_hbacrule_member_case_insensitive.yml
Due: ansible-doc-test

hbacsvcgroup: Remove obsolete result_handler
  plugins/modules/ipahbacsvcgroup.py
Due: ansible-doc-test

ipaidview: Fail to apply unknown (invalid) hosts
  plugins/modules/ipaidview.py
  tests/idview/test_idview.yml
Due: ansible-doc-test

ci: Increase failure message size
  tests/utils.py
Due: ansible-doc-test

ipaclient: Properly name automount_location var and add documentation
  roles/ipaclient/README.md
  roles/ipaclient/tasks/install.yml
Due: none

Update ansible-lint and pylint versions
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: none

utils/run-tests.sh: Replicate Azure's test grouping
  utils/run-tests.sh
Due: shellcheck

ipahost: Remove dangling dns records during test setup
  tests/host/test_host.yml
Due: none

idoverride{user,group}: Fix delete_continue with state absent
  plugins/modules/ipaidoverridegroup.py
  plugins/modules/ipaidoverrideuser.py
  tests/idoverridegroup/test_idoverridegroup.yml
  tests/idoverrideuser/test_idoverrideuser.yml
Due: ansible-doc-test

test_pwpolicy: minlength parameter can be reset with empty string now
  tests/pwpolicy/test_pwpolicy.yml
Due: none

ipauser: Do not try to modify user when not changing password
  plugins/modules/ipauser.py
  tests/user/test_user.yml
Due: ansible-doc-test

ipaidp: Fix validation and reset of parameters
  plugins/module_utils/ansible_freeipa_module.py
  plugins/modules/ipaidp.py
  tests/idp/test_idp.yml
Due: ansible-doc-test

[TEMP] Enable only idp, service and user module tests
  tests/azure/templates/variables.yaml
Due: none

test_host_random: No jinja2 templating in conditional statements
  tests/host/test_host_random.yml
Due: none

ipaclient: Fix OTP error reporting
  roles/ipaclient/tasks/install.yml
Due: none

Bump minimum ansible-lint version to 6.22
  .github/workflows/lint.yml
  requirements-dev.txt
Due: none

upstream ci: Increase timeout for PR tests
  tests/azure/templates/playbook_fast.yml
Due: none

Revert "[TEMP] Enable only idp, service and user module tests"
  tests/azure/templates/variables.yaml
Due: none

Rename parameter 'allow_empty_string' to 'allow_empty_list_item'
  plugins/module_utils/ansible_freeipa_module.py
  plugins/modules/ipaconfig.py
  plugins/modules/ipahost.py
  plugins/modules/ipaservice.py
  plugins/modules/ipauser.py
Due: ansible-doc-test

ansible_freeipa_module: Ensure data type when retrieving parameter
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

idoveridegroup: Use module.params_get_type
  plugins/modules/ipaconfig.py
  plugins/modules/ipaidoverridegroup.py
Due: ansible-doc-test

ipapwpolicy: Use modules.params_get_type
  plugins/modules/ipapwpolicy.py
Due: ansible-doc-test

idoverideuser: Use module.params_get_type
  plugins/modules/ipaidoverrideuser.py
Due: ansible-doc-test

GitHub workflows: Use ansible-lint GitHub Action.
  .github/workflows/lint.yml
Due: none

ipadnszone: Add support for per-zone privilege delegation
  README-dnszone.md
  plugins/modules/ipadnszone.py
  tests/dnszone/test_dnszone.yml
Due: ansible-doc-test
