Repository freeipa/ansible-freeipa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-doc-test, shellcheck

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/ansible/ansible-lint.git
  rev: v6.22.0
  hooks:
  - id: ansible-lint
    always_run: false
    pass_filenames: true
    files: \.(yaml|yml)$
    exclude: /env[^/]*.(yaml|yml)$
    entry: |-
        env
        ANSIBLE_LIBRARY=./plugins/modules
        ANSIBLE_MODULE_UTILS=./plugins/module_utils
        ANSIBLE_DOC_FRAGMENT_PLUGINS=./plugins/doc_fragments
        ansible-lint
          --offline
          --profile production
          --exclude tests/integration/
          --exclude tests/unit/
          --parseable
          --nocolor
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.32.0
  hooks:
  - id: yamllint
    files: \.(yaml|yml)$
- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.0.0
  hooks:
  - id: pydocstyle
- repo: https://github.com/pycqa/pylint
  rev: v3.0.2
  hooks:
  - id: pylint
    args:
    - --disable=import-error
    files: \.py$
- repo: local
  hooks:
  - id: ansible-doc-test
    name: Verify Ansible roles and module documentation.
    language: python
    entry: utils/ansible-doc-test
    # args: ['-v', 'roles', 'plugins']
    files: ^.*.py$
- repo: local
  hooks:
  - id: shellcheck
    name: ShellCheck
    language: system
    entry: shellcheck
    files: \.sh$

upstream ci: Fix ansible-lint errors due to missing collections
  requirements.yml
Due: none

upstream ci: Add support for testing ipaserver deployment
  tests/azure/deployment.yml
  tests/azure/templates/deployment_tests.yml
  tests/server_role/README.md
  tests/server_role/inventory.py
  tests/server_role/ipv6config.yml
Due: ansible-doc-test

ipaserver_test: Return generated domain_name
  roles/ipaserver/library/ipaserver_test.py
Due: ansible-doc-test

ipaserver: Run custodia setup only once
  roles/ipaserver/library/ipaserver_setup_ca.py
  roles/ipaserver/library/ipaserver_setup_custodia.py
  roles/ipaserver/tasks/install.yml
Due: ansible-doc-test

ipaserver_prepare: Properly create IPA_DEFAULT_CONF
  roles/ipaserver/library/ipaserver_prepare.py
  roles/ipaserver/module_utils/ansible_ipa_server.py
Due: ansible-doc-test

utils/build-galaxy-release.sh: Enable offline generation for rpm
  utils/build-galaxy-release.sh
Due: shellcheck

ipaclient_configure_dns_resolver: Return proper changed state
  roles/ipaclient/library/ipaclient_configure_dns_resolver.py
Due: ansible-doc-test

utils/build-galaxy-release.sh: Fix offline default value
  utils/build-galaxy-release.sh
Due: shellcheck

upstream ci: Create containers with IPA not configured
  containers/fedora-latest/00-ipv6.conf
  containers/fedora-latest/Dockerfile
  containers/fedora-latest/hostnamectl-wrapper
  tests/azure/build-containers.yml
  tests/azure/templates/build_raw_container.yml
Due: none

lint tools: Pin ansible-lint and bump version of other tools
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  requirements-dev.txt
Due: none

upstream ci: Update Github actions
  .github/workflows/ansible-test.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/readme.yml
Due: none

ipalib.install.kinit moved to ipalib
  plugins/module_utils/ansible_freeipa_module.py
  roles/ipaclient/library/ipaclient_get_otp.py
  roles/ipaclient/module_utils/ansible_ipa_client.py
  roles/ipareplica/module_utils/ansible_ipa_replica.py
  roles/ipaserver/library/ipaserver_get_connected_server.py
Due: ansible-doc-test

ipauser: Fix idempotency issues for members
  plugins/modules/ipauser.py
Due: ansible-doc-test

ipaservice: Do not set continue to None for service_del
  plugins/modules/ipaservice.py
Due: ansible-doc-test

ansible_freeipa_module: Import and provide normalize_sshpubkey
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

ipahost: Fix idempotency issues
  plugins/modules/ipahost.py
Due: ansible-doc-test

c10s: Prepare environment for beta testing CentOS Stream 10
  molecule/c10s-build/Dockerfile
  molecule/c10s-build/molecule.yml
  molecule/c10s/molecule.yml
Due: none

New inventory plugin
  README-inventory-plugin-freeipa.md
  README.md
  plugins/inventory/freeipa.py
  utils/build-galaxy-release.sh
Due: ansible-doc-test, shellcheck

utils/build-galaxy-release.sh: Fix unary operator expected
  utils/build-galaxy-release.sh
Due: shellcheck

README-user.md: Fix state for user rename in example playbook
  README-user.md
Due: none

README-group.md: Add missing ":" in multi rename example
  README-group.md
Due: none

IPAAnsibleModule: Add support for batch command in execute_ipa_commands
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

ipauser: Enable batch command use with keeponly
  plugins/modules/ipauser.py
Due: ansible-doc-test

ipaservice: Enable batch command use with keeponly
  plugins/modules/ipaservice.py
Due: ansible-doc-test

ipagroup: Enable batch command use with keeponly
  plugins/modules/ipagroup.py
Due: ansible-doc-test

ipahost: Enable batch command with keeponly
  plugins/modules/ipahost.py
Due: ansible-doc-test

ipaserver: Use hostvars data instead of inventory group name
  roles/ipareplica/tasks/install.yml
Due: none

ipaclient: Use hostvars data instead of inventory group name
  roles/ipaclient/tasks/install.yml
Due: none

lint tools: bump code verification tools versions
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  requirements-dev.txt
Due: none

pylint: Ignore usage of 'unicode' before assignment
  plugins/module_utils/ansible_freeipa_module.py
  plugins/modules/ipagroup.py
  plugins/modules/ipahost.py
  plugins/modules/iparole.py
  plugins/modules/ipaservice.py
  plugins/modules/ipauser.py
  roles/ipareplica/library/ipareplica_add_to_ipaservers.py
  roles/ipareplica/library/ipareplica_prepare.py
Due: ansible-doc-test

pylint: ensure variables are initialized
  plugins/modules/ipaautomember.py
  plugins/modules/ipadnsforwardzone.py
  plugins/modules/ipadnsrecord.py
Due: ansible-doc-test

fixup! pylint: Ignore usage of 'unicode' before assignment
  plugins/module_utils/ansible_freeipa_module.py
  plugins/modules/ipagroup.py
  plugins/modules/ipahost.py
  plugins/modules/iparole.py
  plugins/modules/ipaservice.py
  plugins/modules/ipauser.py
  roles/ipareplica/library/ipareplica_add_to_ipaservers.py
  roles/ipareplica/library/ipareplica_prepare.py
Due: ansible-doc-test

upstream CI: bump ansible versions in test pipelines
  tests/azure/azure-pipelines.yml
  tests/azure/nightly.yml
  tests/azure/pr-pipeline.yml
Due: none

ansible_freeipa_module: New function strip_encoded_certificates
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

ipaservice: Use new strip_encoded_certificates
  plugins/modules/ipaservice.py
Due: ansible-doc-test

ipahost: Use new strip_encoded_certificates
  plugins/modules/ipahost.py
Due: ansible-doc-test

ipauser: Use new strip_encoded_certificates
  plugins/modules/ipauser.py
Due: ansible-doc-test

utils/build-galaxy-release.sh: Fix unary operator expected (v2)
  utils/build-galaxy-release.sh
Due: shellcheck
