Repository freeipa/ansible-freeipa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-doc-test, shellcheck

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/ansible/ansible-lint.git
  rev: v5.3.2
  hooks:
  - id: ansible-lint
    always_run: false
    pass_filenames: true
    files: \.(yaml|yml)$
    exclude: /env[^/]*.(yaml|yml)$
    entry: |
        env ANSIBLE_LIBRARY=./plugins/modules ANSIBLE_MODULE_UTILS=./plugins/module_utils ANSIBLE_DOC_FRAGMENT_PLUGINS=./plugins/doc_fragments ansible-lint
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.26.1
  hooks:
  - id: yamllint
    files: \.(yaml|yml)$
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
- repo: https://gitlab.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
- repo: https://github.com/pycqa/pylint
  rev: v2.12.2
  hooks:
  - id: pylint
    args:
    - --disable=import-error
    files: \.py$
- repo: local
  hooks:
  - id: ansible-doc-test
    name: Verify Ansible roles and module documentation.
    language: python
    entry: utils/ansible-doc-test
    # args: ['-v', 'roles', 'plugins']
    files: ^.*.py$
- repo: local
  hooks:
  - id: shellcheck
    name: ShellCheck
    language: system
    entry: shellcheck
    files: \.sh$

Removed vim swap file from the repository.
  playbooks/automount/.automount-map-present.yml.swp
Due: none

example playbooks: ipaadmin_password is used and consistent.
  playbooks/automount/automountkey-renamed.yml
  playbooks/dnsconfig/disable-global-forwarders.yml
  playbooks/dnsconfig/disallow-reverse-sync.yml
  playbooks/dnsconfig/forwarders-absent.yml
  playbooks/dnsconfig/forwarders-present.yml
  playbooks/dnsconfig/set-configuration.yml
  playbooks/dnsrecord/ensure-CNAME-record-is-absent.yml
  playbooks/dnsrecord/ensure-CNAME-record-is-present.yml
  playbooks/privilege/privilege-absent.yml
  playbooks/servicedelegationrule/servicedelegationrule-absent.yml
  playbooks/servicedelegationrule/servicedelegationrule-present.yml
  playbooks/servicedelegationrule/servicedelegationrule-principal-member-absent.yml
  playbooks/servicedelegationrule/servicedelegationrule-principal-member-present.yml
  playbooks/servicedelegationrule/servicedelegationrule-target-member-absent.yml
  playbooks/servicedelegationrule/servicedelegationrule-target-member-present.yml
  playbooks/servicedelegationtarget/servicedelegationtarget-absent.yml
  playbooks/servicedelegationtarget/servicedelegationtarget-member-absent.yml
  playbooks/servicedelegationtarget/servicedelegationtarget-member-present.yml
  playbooks/servicedelegationtarget/servicedelegationtarget-present.yml
  playbooks/sudocmdgroup/ensure-sudocmdgroup-is-absent.yml
  playbooks/sudocmdgroup/ensure-sudocmdgroup-is-present.yml
  playbooks/sudorule/ensure-sudorule-is-absent.yml
  playbooks/topology/add-topologysegments.yml
  playbooks/topology/check-topologysegments.yml
  playbooks/topology/delete-topologysegments.yml
  playbooks/trust/add-trust.yml
  playbooks/trust/del-trust.yml
Due: none

tests/trust: Modify test evaluation to not rely on trust count.
  tests/trust/test_trust.yml
Due: none

tests/trust: Parameterize tests to allow different environments.
  tests/trust/test_trust.yml
Due: none

tests/ipatrust: Modify AD realm name to an invalid name.
  tests/trust/test_trust_client_context.yml
Due: none

Update README-group.md
  README-group.md
Due: none

Remove Ubuntu from Supported Distributions
  README.md
Due: none

utils/new_module templates: Add missing password to example playbooks.
  utils/templates/module-absent.yml.in
  utils/templates/module-member-absent.yml.in
  utils/templates/module-member-present.yml.in
  utils/templates/module-present.yml.in
Due: none

DNS forward policy: ensure consistency between module parameters.
  README-dnsconfig.md
  README-dnsforwardzone.md
  plugins/modules/ipadnsconfig.py
  plugins/modules/ipadnsforwardzone.py
Due: ansible-doc-test

ipaclient: Don't pull idm:DL1 on client hosts.
  roles/ipaclient/vars/RedHat-8.yml
Due: none

ansible-lint: Identify env_*.yml and tasks_*.yml as task files.
  .ansible-lint
Due: none

module_utils: Fix comparison of elements not in IPA object.
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

automountmap: Fix clearing 'description' by using empty string..
  plugins/modules/ipaautomountmap.py
  tests/automount/test_automountmap.yml
Due: ansible-doc-test

ipauser: Refactor module due to fix on arguments comparison.
  plugins/modules/ipauser.py
  tests/user/test_user_empty_lists.yml
Due: ansible-doc-test

ipaautomountmap: Allows clearing description attribute with "".
  plugins/modules/ipaautomountmap.py
  tests/automount/test_automountmap.yml
Due: ansible-doc-test

ipatrust: Set valid choices for trust_type.
  plugins/modules/ipatrust.py
Due: ansible-doc-test

ipatrust: Updated ipatrust documentation.
  README-trust.md
  plugins/modules/ipatrust.py
Due: ansible-doc-test

tests/trust: Improved test coverage and execution.
  tests/trust/test_trust.yml
Due: none

ipatrust: Fix support for `range_type`.
  plugins/modules/ipatrust.py
Due: ansible-doc-test

Add support for managing idoverrideusers in ipagroup.
  README-group.md
  plugins/modules/ipagroup.py
  tests/group/test_group_idoverrideuser.yml
Due: ansible-doc-test

ipaautomountmap: Force setting automountmapname in IPA API calls.
  plugins/modules/ipaautomountmap.py
Due: ansible-doc-test

ipaautomountmap: Fix error messages for invalid 'name' sizes.
  plugins/modules/ipaautomountmap.py
Due: ansible-doc-test

New idrange management module
  README-idrange.md
  README.md
  playbooks/idrange/idrange-absent.yml
  playbooks/idrange/idrange-ad-posix-present.yml
  playbooks/idrange/idrange-ad-present.yml
  playbooks/idrange/idrange-present.yml
  plugins/modules/ipaidrange.py
  tests/idrange/tasks_remove_trust.yml
  tests/idrange/tasks_set_trust.yml
  tests/idrange/test_idrange.yml
  tests/idrange/test_idrange_client_context.yml
Due: ansible-doc-test

ipareplica role: Use FQCN for Ansible builtin plugins.
  roles/ipareplica/tasks/install.yml
  roles/ipareplica/tasks/main.yml
  roles/ipareplica/tasks/uninstall.yml
Due: none

utils/galaxify: Allow use of FQCN in playbooks.
  utils/galaxyfy.py
Due: ansible-doc-test

ipaserver role: Use FQCN for Ansible builtin plugins.
  roles/ipaserver/tasks/copy_external_cert.yml
  roles/ipaserver/tasks/install.yml
  roles/ipaserver/tasks/main.yml
  roles/ipaserver/tasks/uninstall.yml
Due: none

ipaclient role: Use FQCN for Ansible builtin plugins.
  roles/ipaclient/tasks/install.yml
  roles/ipaclient/tasks/main.yml
  roles/ipaclient/tasks/uninstall.yml
Due: none

ipabackup role: Use FQCN for Ansible builtin plugins.
  roles/ipabackup/tasks/backup.yml
  roles/ipabackup/tasks/copy_backup_from_server.yml
  roles/ipabackup/tasks/copy_backup_to_server.yml
  roles/ipabackup/tasks/get_ipabackup_dir.yml
  roles/ipabackup/tasks/main.yml
  roles/ipabackup/tasks/remove_backup_from_server.yml
  roles/ipabackup/tasks/restore.yml
Due: none

upstream CI: Add support for testing ansible-freeipa as a collection.
  tests/azure/azure-pipelines.yml
  tests/azure/nightly.yml
  tests/azure/templates/galaxy_pytest_script.yml
  tests/azure/templates/galaxy_script.yml
  tests/azure/templates/galaxy_tests.yml
Due: none

Add ipaclient support for Amazon Linux 2
  roles/ipaclient/vars/RedHat-2.yml
Due: none

Rename file to Amazon-2
  roles/ipaclient/vars/Amazon-2.yml
Due: none

utils/build-galaxy-release.sh: Add "-i" to install generated collection
  utils/build-galaxy-release.sh
Due: shellcheck

upstream CI: Relabel upstream PR pipeline jobs.
  tests/azure/azure-pipelines.yml
Due: none

upstream CI: Update default ansible-core version to 2.12.
  tests/azure/azure-pipelines.yml
Due: none

upstream CI: Allow the use of latest ansible-core.
  tests/azure/nightly.yml
Due: none

upstream CI: removed all CentOS 8 support.
  molecule/centos-8-build/molecule.yml
  molecule/centos-8/molecule.yml
  molecule/default
  tests/README.md
  tests/azure/azure-pipelines.yml
  tests/azure/build-containers.yml
  tests/azure/nightly.yml
Due: none

Updated comments for ipaclient/vars/Amazon-2.yml
  roles/ipaclient/vars/Amazon-2.yml
Due: none

idrange: Fix typo in test comments.
  tests/idrange/test_idrange.yml
Due: none
