Repository freeipa/ansible-freeipa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-doc-test, shellcheck

ansible-doc-test:
  name: Verify Ansible roles and module documentation.
  language: python
  entry: utils/ansible-doc-test

shellcheck:
  name: ShellCheck
  language: system
  entry: shellcheck

Allow servicedelegation_normalize_principals to accept simple strings
  plugins/module_utils/ansible_freeipa_module.py
Due: ansible-doc-test

ipagroup: Use global member management method.
  plugins/modules/ipagroup.py
  tests/group/test_group.yml
Due: ansible-doc-test

iparole: Use global member management method.
  plugins/modules/iparole.py
Due: ansible-doc-test

ipahbacsvcgroup: Use global member management method.
  plugins/modules/ipahbacsvcgroup.py
Due: ansible-doc-test

ipaservicedelegationtarget: Use global member management method.
  plugins/modules/ipaservicedelegationtarget.py
Due: ansible-doc-test

ipahbacrule: Use global member management method.
  plugins/modules/ipahbacrule.py
Due: ansible-doc-test

ipasudocmdgroup: Use global member management method.
  plugins/modules/ipasudocmdgroup.py
Due: ansible-doc-test

ansible-lint: Use 'missing-import' instead of '505'
  tests/user/test_users_absent.yml
  tests/user/test_users_present.yml
  tests/user/test_users_present_slice.yml
Due: none

ansible-lint: License must be defined as a list.
  galaxy.yml
Due: none

ansible-lint: Fix key order on upstream tests
  tests/config/test_config.yml
  tests/config/test_config_sid.yml
  tests/env_freeipa_facts.yml
  tests/group/test_group.yml
  tests/group/test_group_external_members.yml
  tests/group/test_group_external_nonposix.yml
  tests/group/test_group_idoverrideuser.yml
  tests/group/test_group_membermanager.yml
  tests/hostgroup/test_hostgroup_membermanager.yml
  tests/hostgroup/test_hostgroup_rename.yml
  tests/idrange/test_idrange.yml
  tests/role/env_facts.yml
  tests/server/test_server.yml
  tests/service/test_service.yml
  tests/servicedelegationrule/test_servicedelegationrule_hostprincipal.yml
  tests/servicedelegationtarget/test_servicedelegationtarget_hostprincipal.yml
  tests/trust/test_trust.yml
  tests/vault/test_vault_change_type.yml
Due: none

ansible-lint: Fixed dangling 'when' clause.
  tests/group/test_group_idoverrideuser.yml
Due: none

ipauser: Better description of UID and GID parameters
  README-user.md
  plugins/modules/ipauser.py
Due: ansible-doc-test

Migrated to SPDX license.
  utils/ansible-freeipa.spec.in
Due: none

Update `EXAMPLE` sections for multiuser and multihost handling.
  plugins/modules/ipahost.py
  plugins/modules/ipauser.py
Due: ansible-doc-test

ipaclient: Defer creating the final krb5.conf on clients
  roles/ipaclient/library/ipaclient_api.py
  roles/ipaclient/library/ipaclient_join.py
  roles/ipaclient/library/ipaclient_setup_certmonger.py
  roles/ipaclient/library/ipaclient_setup_nss.py
  roles/ipaclient/library/ipaclient_temp_krb5.py
  roles/ipaclient/library/ipaclient_test_keytab.py
  roles/ipaclient/tasks/install.yml
Due: ansible-doc-test

ipauser: Make return value depending on users parameter
  README-user.md
  plugins/modules/ipauser.py
  tests/user/test_user_random.yml
Due: ansible-doc-test

Add subid option to select the sssd profile with-subid.
  roles/ipaclient/README.md
  roles/ipaclient/defaults/main.yml
  roles/ipaclient/library/ipaclient_setup_nss.py
  roles/ipaclient/tasks/install.yml
  roles/ipareplica/README.md
  roles/ipaserver/README.md
Due: ansible-doc-test

fix for npt
  roles/ipaserver/tasks/install.yml
Due: none

add freeipa-4 to runtime
  roles/ipaserver/tasks/install.yml
Due: none

guess I forgot to make the changes here as well
  roles/ipaclient/tasks/install.yml
Due: none

ipaserver: Use exit_raw_json to prevent output masking.
  roles/ipaserver/library/ipaserver_load_cache.py
  roles/ipaserver/library/ipaserver_master_password.py
  roles/ipaserver/library/ipaserver_prepare.py
  roles/ipaserver/library/ipaserver_test.py
  roles/ipaserver/module_utils/ansible_ipa_server.py
Due: ansible-doc-test

ipareplica: Use exit_raw_json to prevent output masking.
  roles/ipareplica/library/ipareplica_install_ca_certs.py
  roles/ipareplica/library/ipareplica_master_password.py
  roles/ipareplica/library/ipareplica_prepare.py
  roles/ipareplica/library/ipareplica_setup_ds.py
  roles/ipareplica/library/ipareplica_setup_krb.py
  roles/ipareplica/module_utils/ansible_ipa_replica.py
Due: ansible-doc-test

missed the replica part as well
  roles/ipareplica/tasks/install.yml
Due: none

add replica and backup to the pull request
  roles/ipabackup/tasks/restore.yml
  roles/ipareplica/tasks/install.yml
Due: none

ipahost: Make return value depending on hosts parameter
  README-host.md
  plugins/modules/ipahost.py
  tests/host/test_host_random.yml
Due: ansible-doc-test

ipareplica role: Remove usage of undefined parameters.
  roles/ipareplica/tasks/install.yml
Due: none

dictcheck & usercheck should be bools not int
  README-pwpolicy.md
Due: none

ipaclient: ipaclient_setup_nss also needs krb_name parameter
  roles/ipaclient/library/ipaclient_setup_nss.py
  roles/ipaclient/tasks/install.yml
Due: ansible-doc-test

ipaclient: ipaclient_fix_ca also needs krb_name parameter
  roles/ipaclient/library/ipaclient_fix_ca.py
  roles/ipaclient/tasks/install.yml
Due: ansible-doc-test

ipanetgroup: Missing type for action and state DOCUMENTATION section
  plugins/modules/ipanetgroup.py
Due: ansible-doc-test

ipapwpolicy: The alias for usercheck in argument_spec had typo
  plugins/modules/ipapwpolicy.py
Due: ansible-doc-test

ipaclient_configure_dns_resolver: Removed bad aliases
  roles/ipaclient/library/ipaclient_configure_dns_resolver.py
Due: ansible-doc-test

ipareplica/server: Always cleanup root IPA cache
  roles/ipareplica/tasks/install.yml
  roles/ipaserver/tasks/install.yml
Due: none

tests/config/test_config_sid: Mark tasks as noqa 503
  tests/config/test_config_sid.yml
Due: none

ipareplica/server: Enable removal from domain with undeployment
  roles/ipareplica/README.md
  roles/ipareplica/tasks/uninstall.yml
  roles/ipaserver/README.md
  roles/ipaserver/defaults/main.yml
  roles/ipaserver/library/ipaserver_get_connected_server.py
  roles/ipaserver/tasks/uninstall.yml
Due: ansible-doc-test

New utils method that returns the lists of members.
  plugins/module_utils/ansible_freeipa_module.py
  plugins/modules/ipanetgroup.py
  plugins/modules/ipasudorule.py
  tests/netgroup/test_netgroup_client_context.yml
  tests/netgroup/test_netgroup_ext_member.yml
  tests/sudorule/test_sudorule_client_context.yml
  tests/sudorule/test_sudorule_ext_member.yml
Due: ansible-doc-test

add freeipa default module group
  meta/runtime.yml
Due: none

Add comment why the change has been added
  meta/runtime.yml
Due: none

ipagroup: Fix ensuring external group group members (without trust-ad)
  plugins/modules/ipagroup.py
  tests/group/test_group_external_group_members_no_trust.yml
Due: ansible-doc-test

[RFE] Allow multiple groups creation.
  README-group.md
  playbooks/group/add-group.yml
  playbooks/group/add-groups-to-group.yml
  playbooks/group/add-groups.yml
  playbooks/group/add-user-to-group.yml
  playbooks/group/delete-group.yml
  plugins/modules/ipagroup.py
  tests/group/create_groups_json.yml
  tests/group/groups.sh
  tests/group/test_group_client_context.yml
  tests/group/test_groups.yml
  tests/group/test_groups_absent.yml
  tests/group/test_groups_external_nonposix.yml
  tests/group/test_groups_present.yml
  tests/group/test_groups_present_slice.yml
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
Due: ansible-doc-test, shellcheck

Path conditions:
  ansible-doc-test: any of: ^.*.py$
  shellcheck: any of: \.sh$
